---
---
@charset 'utf-8';

@import 'functions.scss';


:root {
	--scale-caption: 0.8rem;
	--scale-btn: 1rem;
	--scale-p: 1rem;
	--scale-h4: 1.54rem;
	--scale-h3: 1.92rem;
	--scale-h2: 2.4rem;
	--scale-h1: 3rem;
}


$text: #121212;
$background: #ffffff;
$primary: #ff6600;
$secondary: #1d4f91;
$accent: #f8794f;

$primary-dark: #E35205;
$primary-highlight: #FF8200;

$primary-fill: #ff6600;
$primary-fill-highlight: #FA6400;
$primary-fill-dark: #F55A00;

$dark: $text;
$tertiary: #071D49;

$blue: $tertiary;
$indigo: #500778;
$purple: #753BBD;
$pink: #D62598;
$red: #D22630;
$orange: $primary;
$yellow: #FFE900;
$green: #046A38;
$teal: #007377;
$cyan: #41B6E6;
$white: $background;
$gray-100: #FBFBFD;
$gray-200: #F5F5F7;
$gray-300: #D2D2D4;
$gray-400: #C4C4C6;
$gray-500: #AAAAAA;
$gray-600: #878789;
$gray-700: #333333;
$gray-800: #222223;
$gray-900: $text;
$gray: $gray-400;
$gray-dark: $gray-800;
$black: $text;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;


$spacer: 0.625rem;
$spacers: (
  0: 0,
  1: 1.118rem,
  2: 1.25rem,
  3: 1.5625rem,
  4: 1.953125rem,
  5: 2.44140625rem,
);

$line-height-base:              1.54;
$headings-line-height:          1.25;

$paragraph-margin-bottom:       map-get($spacers, 4);

// scss-docs-start headings-variables
$headings-margin-bottom:        map-get($spacers, 4);
$headings-font-family:          'Noto Sans', sans-serif;
$headings-font-weight:          700;

// scss-docs-start type-variables
$hr-margin-y:                   map-get($spacers, 4);
$hr-color:                      $primary-fill;
$hr-height:                     0.3rem;
$hr-opacity:                    1;

$enable-transitions:            false;


@import 'variables.scss';
@import 'mixins.scss';


@import 'bootstrap.scss';


@import 'base';
