---
---

@charset "utf-8";
@import "functions.scss";

// -------------------------------------
// Color Variables
// -------------------------------------

$primary: #e35205;
$primary-dark: #e67300;
$primary-inverted-dark: #8dc8e8;
$fill-primary: #c63527;

$accent: #ff8f1c;
$fill-accent: #e35205;

$secondary: #004c97;
$secondary-dark: #009cde;
$fill-secondary: #003865;

$background: #fff;
$light: #c3e5f1;
$dark: #00263e;

$white: #fff;
$gray-50: #f7f7f9;
$gray-100: #f2f2f7;
$gray-200: #e5e5ea;
$gray-300: #d1d1d6;
$gray-400: #b8b8c2;
$gray-500: #9a9aa2;
$gray-600: #7e7e86;
$gray-700: #62626c;
$gray-800: #46464f;
$gray-900: #2a2a2f;
$gray-950: #1d1d1f;
$black: #000;

$text: $gray-900;
$text-secondary: #6e6e73;
$text-secondary-alt: #515154;
$text-tertiary: #86868b;

$body-color: $text;

$text-dark: #f5f5f7;

$border-color: $gray-300;
$external-link-icon-color: $text-secondary;

// -------------------------------------
// Typography Variables
// -------------------------------------

$font-family-sans-serif:
  "Public Sans",
  -apple-system,
  BlinkMacSystemFont,
  "Helvetica Neue",
  Helvetica,
  Roboto,
  "Segoe UI",
  sans-serif;
$font-family-monospace:
  ui-monospace,
  SFMono-Regular,
  SF Mono,
  Menlo,
  Consolas,
  monospace;
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;

$font-size-root: calc(max(14px, min(100%, 26px)));

// -------------------------------------
// Link Variables
// -------------------------------------

$link-color: #06c;
$link-hover-color: $link-color;
$link-alt-color: $fill-primary;
$link-alt-hover-color: $link-alt-color;
$link-alt-hover-dark-color: $primary-dark;
$link-decoration: none;
$link-hover-decoration: underline;

// -------------------------------------
// Spacing Variables
// -------------------------------------

@function pt($pt) {
  @return 1rem * round($pt / 3 * 4) / 16;
}

$scales: (
  -1: pt(9),
  0: 0rem,
  1: pt(11),
  2: pt(6 * 2),
  3: pt(6 * 3),
  4: pt(6 * 4),
  5: pt(6 * 5),
  6: pt(6 * 6),
  7: pt(6 * 7),
  8: pt(6 * 8),
  9: pt(6 * 9),
  10: pt(6 * 10),
  11: pt(6 * 11),
  12: pt(6 * 12),
  13: pt(6 * 13)
);

$spacer: 1rem;

$spacers: (
  -2: pt(1),
  -1: pt(2),
  0: 0rem,
  1: pt(4),
  2: pt(4 * 2),
  3: pt(4 * 3),
  4: pt(4 * 2) * 2,
  5: pt(4 * 5),
  6: pt(4 * 2) * 3,
  7: pt(4 * 7),
  8: pt(4 * 2) * 4,
  9: pt(4 * 3) * 3,
  10: pt(4 * 2) * 5,
  11: pt(4 * 11),
  12: pt(4 * 2) * 6,
  24: pt(4 * 2) * 12
);

$font-size-sm: map-get($scales, -1);
$font-size-base: map-get($scales, 1);
$font-size-lg: map-get($scales, 2);
$input-btn-font-size: $font-size-lg;
$blockquote-font-size: $font-size-lg;
$blockquote-footer-font-size: $font-size-base;
$blockquote-footer-color: $text;

$line-height-base: pt(11+6) / $font-size-base;
$line-height-sm: pt(10+6) / $font-size-sm;
$line-height-lg: pt(12+6) / $font-size-lg;
$btn-line-height: $line-height-base;

$h1-font-size: map-get($scales, 7);
$h2-font-size: map-get($scales, 5);
$h3-font-size: map-get($scales, 4);
$h4-font-size: map-get($scales, 3);
$h5-font-size: pt(13);
$h6-font-size: map-get($scales, 2);

$h1-line-height: pt(6 * 7+12);
$h2-line-height: pt(6 * 5+6);
$h3-line-height: pt(6 * 4+6);
$h4-line-height: pt(6 * 3+6);
$h5-line-height: pt(13+6);
$h6-line-height: pt(6 * 2+6);

$grid-gutter-width: map-get($spacers, 4);
$paragraph-margin-bottom: 0;

// -------------------------------------
// Layout Variables
// -------------------------------------

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xxl: 1920px,
);

$container-padding-x: 32px;

$container-max-widths: (
  lg: 1216px + $container-padding-x,
);

// -------------------------------------
// Border Variables
// -------------------------------------

$border-radius-sm: 2px * 1.5;
$border-radius: 2.5px * 1.5;
$border-radius-lg: 3px * 1.5;

$btn-border-radius: $border-radius;

$card-border-width: 1px;
$card-border-color: $border-color;
$card-border-radius: $border-radius-lg;

$hr-border-width: 3px;

// -------------------------------------
// Component Variables
// -------------------------------------

$navbar-padding-y: 0;
$navbar-light-color: $text;
$navbar-light-hover-color: $navbar-light-color;
$navbar-light-active-color: $link-alt-color;
$nav-link-padding-y: 0;
$navbar-nav-link-padding-x: map-get($spacers, 2);
$nav-link-font-weight: 700;
$nav-link-transition: none;
$navbar-dark-color: $text-dark;
$navbar-dark-hover-color: $link-alt-hover-dark-color;
$navbar-dark-active-color: $link-alt-hover-dark-color;

$btn-primary-color: $fill-primary;
$btn-primary-hover: #c63b31;
$btn-primary-active: #c6321f;

$input-btn-padding-y: 16px;
$input-btn-padding-x: 24px;

// -------------------------------------
// Focus Ring Variables
// -------------------------------------

$focus-ring-color: #0071e3;
$focus-ring-box-shadow: 2px solid $focus-ring-color;

// -------------------------------------
// Feature Flags
// -------------------------------------

$enable-negative-margins: true;
$enable-transitions: false;
$enable-rfs: false;

// -------------------------------------
// Import Bootstrap and Custom Styles
// -------------------------------------

@import "variables.scss";
@import "bootstrap.scss";
@import "base";
