<section id="about-us" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Là tinh hoa của hơn 25 năm kinh nghiệm trong lĩnh vực</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-4">Ảnh của Ông Phan Đức Tuấn Anh</div>
                <div class="col-sm-8">Alpha Software được thành lập vào năm 2021 bởi ông Phan Đức Tuấn Anh, người có hơn 28 năm kinh nghiệm thực tiễn trong lĩnh vực dệt may—trong đó có 13 năm là kỹ thuật viên nhuộm và 15 năm làm giám đốc nhà máy. Với nền tảng vững chắc về Hóa học Hữu cơ cùng sự hiểu biết sâu sắc về quản lý nhà máy và phát triển phần mềm, ông Tuấn Anh đã giúp chúng tôi cung cấp các giải pháp công nghệ thực tiễn đáp ứng nhu cầu của các doanh nghiệp dệt may hiện đại.</div>
              </div>
        </div>
    </div>
</section>
