<section id="about-us" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 text-center">
        <h2 class="section-heading">
          Là tinh&nbsp;hoa của hơn 28&nbsp;năm kinh&nbsp;nghiệm trong
          lĩnh&nbsp;vực
        </h2>
        <hr />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-4">
          <p class="text-end">Ảnh của Ông Phan Đức Tuấn Anh</p>
        </div>
        <div class="col-md-8" tabindex="0">
          <p>
            Alpha Software được thành lập vào năm 2021 bởi ông Phan Đức Tuấn
            Anh, người có hơn 28 năm kinh nghiệm thực tiễn trong lĩnh vực dệt
            may—trong đó có 13 năm là kỹ thuật viên nhuộm và 15 năm làm giám đốc
            nhà máy. Với nền tảng vững chắc về Hóa học Hữu cơ cùng sự hiểu biết
            sâu sắc về quản lý nhà máy và phát triển phần mềm, ông Tuấn Anh đã
            giúp chúng tôi cung cấp các giải pháp công nghệ thực tiễn đáp ứng
            nhu cầu của các doanh nghiệp dệt may hiện đại.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
