<section id="about-us" class="bg-dark">
  <article class="container">
    <h2 class="col-lg-8 mx-auto mb-0 text-center">
      Là tinh&nbsp;hoa của hơn 28&nbsp;năm kinh&nbsp;nghiệm trong
      lĩnh&nbsp;vực
    </h2>
    <hr aria-hidden="true" />
    <div class="row row-cols-md-2 row-cols-1 justify-content-md-center justify-content-left">
      <img alt="Chân dung của ông Phan Đức Tuấn Anh" class="col-auto text-end" />
      <p class="col-lg-6">
        Alpha Software được thành lập vào năm 2021 bởi ông Phan Đức Tuấn Anh,
        người có hơn 28 năm kinh nghiệm thực tiễn trong lĩnh vực dệt may—trong
        đó có 13 năm là kỹ thuật viên nhuộm và 15 năm làm giám đốc nhà máy.
        Với nền tảng vững chắc về Hóa học Hữu cơ cùng sự hiểu biết sâu sắc về
        quản lý nhà máy và phát triển phần mềm, ông Tuấn Anh đã giúp chúng tôi
        cung cấp các giải pháp công nghệ thực tiễn đáp ứng nhu cầu của các
        doanh nghiệp dệt may hiện đại.
      </p>
    </div>
  </article>
</section>
