{% assign t = site.data.i18n[page.lang] %}

<!doctype html>
<html
  itemscope
  itemtype="https://schema.org/Organization"
  lang="{{ page.lang }}"
>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LZBMND9VE8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LZBMND9VE8', { 'anonymize_ip': true });

      gtag('consent', 'update', {
        'ad_storage': 'granted',
        'ad_user_data': 'granted',
        'ad_personalization': 'granted',
        'analytics_storage': 'granted'
      });

      gtag('consent', 'update', {
        'ad_storage': 'denied',
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'analytics_storage': 'denied',
        'region': ['FR', 'DE', 'IT', 'ES', 'NL', 'PL', 'SE', 'GB', 'CH', 'CA', 'KR', 'US-CA', 'US-CO', 'US-VA', 'US-CT', 'US-UT']
      });
    </script>

    <title>Alpha Software: {{ t.slogan }}</title>
    {% include meta.html %} {% include meta-assets.html %}
  </head>
  <body
    data-bs-smooth-scroll="true"
    data-bs-spy="scroll"
    data-bs-target="#muc-luc"
  >
    <div class="visually-hidden active collapsing show translated_review_disclaimer"></div>
    <nav
      aria-label="{{ t.toc }}"
      class="navbar fixed-top navbar-expand-md"
      data-bs-theme="dark"
      dir="ltr"
      id="muc-luc"
    >
      {% include muc-luc.html %}
    </nav>
    <main>
      {% include trang-bia.html %} {% include gioi-thieu.html %} {% include
      cac-loi-ich.html %} {% include cac-san-pham.html %} {% include
      cac-du-an.html %} {% include danh-gia-cua-khach-hang.html %} {% include
      cau-chuyen-cua-alpha-software.html %} {% include ho-tro-khach-hang.html %}
    </main>
    <footer id="ket-noi-voi-alpha-software">
      {% include ket-noi-voi-alpha-software.html %}
    </footer>
    <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script defer src="{{ site.url }}/js/bootstrap.min.js"></script>
    <script defer src="{{ site.url }}/js/custom.js"></script>
    <script defer src="{{ site.url }}/js/squircle.js"></script>
  </body>
</html>
