{% assign t = site.data.i18n[page.lang] %}

<!doctype html>
<html
  itemscope
  itemtype="https://schema.org/Organization"
  lang="{{ page.lang }}"
>
  <head>
    <title>Alpha Software - {{ t.slogan }}</title>
    {% include meta.html %} {% include meta-assets.html %}
  </head>
  <body
    data-bs-smooth-scroll="true"
    data-bs-spy="scroll"
    data-bs-target="#muc-luc"
  >
    <div class="visually-hidden active collapsing translated_review_disclaimer"></div>
    <nav
      aria-label="{{ t.toc }}"
      class="navbar fixed-top navbar-expand-md"
      data-bs-theme="dark"
      dir="ltr"
      id="muc-luc"
    >
      {% include muc-luc.html %}
    </nav>
    <main>
      {% include trang-bia.html %} {% include gioi-thieu.html %} {% include
      cac-loi-ich.html %} {% include chi-tiet-cac-san-pham.html %} {% include
      cac-du-an.html %} {% include danh-gia-cua-khach-hang.html %} {% include
      cau-chuyen-cua-alpha-software.html %} {% include ho-tro-khach-hang.html %}
    </main>
    <footer id="ket-noi-voi-alpha-software">
      {% include ket-noi-voi-alpha-software.html %}
    </footer>
    <script defer src="{{ site.url }}/js/bootstrap.min.js"></script>
    <script defer src="{{ site.url }}/js/custom.js"></script>
  </body>
</html>
