<section class="bg-light" id="{{ t.toc_benefits_id }}">
  <div class="container">
    <div
      class="heading-number mb-4"
      data-number="02"
      role="presentation"
    ></div>
    <h2 class="mt-0">{{ t.benefits_title }}</h2>
    <div class="row row-cols-xl-4 row-cols-md-2 row-cols-1 mt-9">
      <div class="col service-box">
        {% include icon-editor-choice.html %}
        <h3 class="h4 mt-4">{{ t.benefit_quality_title }}</h3>
        <p>{{ t.benefit_quality_desc }}</p>
      </div>
      <div class="col service-box">
        {% include icon-savings.html %}
        <h3 class="h4 mt-4">{{ t.benefit_staffing_costs_title }}</h3>
        <p>{{ t.benefit_staffing_costs_desc }}</p>
      </div>
      <div class="col service-box">
        {% include icon-security.html %}
        <h3 class="h4 mt-4">{{ t.benefit_error_reduction_title }}</h3>
        <p>{{ t.benefit_error_reduction_desc }}</p>
      </div>
      <div class="col service-box">
        {% include icon-precision-manufacturing.html %}
        <h3 class="h4 mt-4">{{ t.benefit_equipment_retrofit_title }}</h3>
        <p>{{ t.benefit_equipment_retrofit_desc }}</p>
      </div>
    </div>
  </div>
</section>
