<section id="benefits" class="bg-light">
  <div class="container">
    <h2 class="col-lg-8 mx-auto mb-0 text-center">
      Vì sao chọn Alpha&nbsp;Software
    </h2>
    <hr class="above-icons" aria-hidden="true" />
    <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-1 justify-content-center">
      <div class="col service-box">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-minecart" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M4 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2m0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4m8-1a1 1 0 1 1 0-2 1 1 0 0 1 0 2m0 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4M.115 3.18A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 14 12H2a.5.5 0 0 1-.491-.408l-1.5-8a.5.5 0 0 1 .106-.411zm.987.82 1.313 7h11.17l1.313-7z"/>
        </svg>
        <h3 class="h4">
          Cải&nbsp;thiện rõ&nbsp;rệt chất&nbsp;lượng sản&nbsp;phẩm
        </h3>
        <p>
          Nhờ kinh&nbsp;nghiệm từ thời&nbsp;gian dài làm kỹ&nbsp;thuật công&nbsp;nghệ trong&nbsp;ngành, chúng&nbsp;tôi biết cách ánh&nbsp;xạ tri&nbsp;thức công&nbsp;nghệ của chuyên&nbsp;gia nội&nbsp;bộ của nhà&nbsp;máy hoặc chuyên&nbsp;gia bên&nbsp;ngoài, áp&nbsp;dụng công&nbsp;nghệ đó một&nbsp;cách tự&nbsp;động, chính&nbsp;xác vào sản&nbsp;xuất nhờ&nbsp;đó cải&nbsp;thiện mạnh&nbsp;mẽ tỉ&nbsp;lệ sản&nbsp;phẩm đúng ngay từ&nbsp;đầu (RFT&nbsp;&mdash;&nbsp;Right&nbsp;First&nbsp;Time).
        </p>
      </div>
      <div class="col service-box">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
        <h3 class="h4 h4-adjust-mb">Giảm&nbsp;thiểu sai&nbsp;sót</h3>
        <p>
          Trải&nbsp;qua các vị&nbsp;trí công&nbsp;việc trong&nbsp;ngành từ quản&nbsp;lý kỹ&nbsp;thuật, quản&nbsp;lý dây&nbsp;chuyền đến quản&nbsp;lý nhà&nbsp;máy nhuộm, chúng&nbsp;tôi hiểu&nbsp;được những rủi&nbsp;ro sai&nbsp;sót có&nbsp;thể có trong quá&nbsp;trình thực&nbsp;hiện công&nbsp;việc của nhân&nbsp;viên các&nbsp;cấp. Nhờ&nbsp;đó phần&nbsp;mềm do chúng&nbsp;tôi phát&nbsp;triển có khả&nbsp;năng ngăn&nbsp;ngừa lỗi rất cao.
        </p>
      </div>
      <div class="col service-box">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-heart" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4m13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z"/>
        </svg>
        <h3 class="h4 h4-adjust-mb">Giảm nhu&nbsp;cầu nhân&nbsp;lực</h3>
        <p>
          Trong quá&nbsp;trình khảo&nbsp;sát và phát&nbsp;triển phần&nbsp;mềm, chúng&nbsp;tôi sẽ nhận&nbsp;diện những thao&nbsp;tác nào có&nbsp;thể được phần&nbsp;mềm tự&nbsp;động thực&nbsp;hiện. Nhờ&nbsp;đó giúp giảm nhân&nbsp;sự và tăng năng&nbsp;suất.
        </p>
      </div>
      <div class="col service-box">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plug-fill" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M6 0a.5.5 0 0 1 .5.5V3h3V.5a.5.5 0 0 1 1 0V3h1a.5.5 0 0 1 .5.5v3A3.5 3.5 0 0 1 8.5 10c-.002.434-.01.845-.04 1.22-.041.514-.126 1.003-.317 1.424a2.08 2.08 0 0 1-.97 1.028C6.725 13.9 6.169 14 5.5 14c-.998 0-1.61.33-1.974.718A1.92 1.92 0 0 0 3 16H2c0-.616.232-1.367.797-1.968C3.374 13.42 4.261 13 5.5 13c.581 0 .962-.088 1.218-.219.241-.123.4-.3.514-.55.121-.266.193-.621.23-1.09.027-.34.035-.718.037-1.141A3.5 3.5 0 0 1 4 6.5v-3a.5.5 0 0 1 .5-.5h1V.5A.5.5 0 0 1 6 0"/>
        </svg>
        <h3 class="h4">Khả&nbsp;năng tích&nbsp;hợp với các thiết&nbsp;bị tự&nbsp;động&nbsp;hoá</h3>
        <p>
          Chúng&nbsp;tôi có trình&nbsp;độ và kinh&nbsp;nghiệm để kết&nbsp;nối với các thiết&nbsp;bị tự&nbsp;động hoặc cải&nbsp;tạo thiết&nbsp;bị đang vận&nbsp;hành bằng công&nbsp;tắc tay thành vận&nbsp;hành tự&nbsp;động. Nhờ&nbsp;đó giảm nhu&nbsp;cầu nhân&nbsp;sự có trình&nbsp;độ tay&nbsp;nghề cao và giảm thao&nbsp;tác sai của người vận&nbsp;hành. 
        </p>
      </div>
    </div>
  </div>
</section>