<!--suppress ALL -->
<section class="bg-dark p-0" id="bo-suu-tap-anh">
  <div class="container-fluid p-0">
    <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 g-0">
      <div class="portfolio-box">
        <img
          alt="Placeholder"
          class="img-fluid"
          loading="lazy"
          src="anh/portfolio/1.jpg"
        />
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <h3 class="project-category">Category</h3>
            <p class="project-name">Project Name</p>
          </div>
        </div>
      </div>
      <div class="portfolio-box">
        <img
          alt="Placeholder"
          class="img-fluid"
          loading="lazy"
          src="anh/portfolio/2.jpg"
        />
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <h3 class="project-category">Category</h3>
            <p class="project-name">Project Name</p>
          </div>
        </div>
      </div>
      <div class="portfolio-box">
        <img
          alt="Placeholder"
          class="img-fluid"
          loading="lazy"
          src="anh/portfolio/3.jpg"
        />
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <h3 class="project-category">Category</h3>
            <p class="project-name">Project Name</p>
          </div>
        </div>
      </div>
      <div class="portfolio-box">
        <img
          alt="Placeholder"
          class="img-fluid"
          loading="lazy"
          src="anh/portfolio/4.jpg"
        />
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <h3 class="project-category">Category</h3>
            <p class="project-name">Project Name</p>
          </div>
        </div>
      </div>
      <div class="portfolio-box">
        <img
          alt="Placeholder"
          class="img-fluid"
          loading="lazy"
          src="anh/portfolio/5.jpg"
        />
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <h3 class="project-category">Category</h3>
            <p class="project-name">Project Name</p>
          </div>
        </div>
      </div>
      <div class="portfolio-box">
        <img
          alt="Placeholder"
          class="img-fluid"
          loading="lazy"
          src="anh/portfolio/6.jpg"
        />
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <h3 class="project-category">Category</h3>
            <p class="project-name">Project Name</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
