<section id="cac-du-an" class="pb-0">
  <div class="container">
    <div class="heading-number mb-3" data-number="03" aria-hidden="true"></div>
    <h2>Các dự&nbsp;án của Alpha&nbsp;Software</h2>
    <div class="row row-cols-xl-3 row-cols-lg-2 row-cols-1 mt-9">
      <div class="col service-box">
        <div class="card partner-logo-card">
          <img
            src="anh/logo-doi-tac/logo-tuan-hong.webp"
            alt="Công ty TNHH Chỉ may Tuấn Hồng"
            width="158"
            height="149"
            class="partner-logo"
            loading="lazy"
          />
          <a
            href="https://tuanhonggroup.com"
            target="_blank"
            rel="nofollow noopener external"
            class="stretched-link"
            aria-hidden="true"
            tabindex="-1"
            >Tuấn Hồng Group</a
          >
        </div>
        <div class="mt-4">
          <p class="h5 text-muted">2022</p>
          <h3 class="h4">
            <span class="mini-h4"
              >Công&nbsp;ty TNHH Chỉ&nbsp;may&nbsp;<wbr /></span
            >Tuấn&nbsp;Hồng
          </h3>
          <a
            href="https://tuanhonggroup.com"
            target="_blank"
            rel="nofollow noopener external"
            >https://tuanhonggroup.com</a
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
            class="external-link-icon"
            viewBox="0 -960 960 960"
          >
            <path
              d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h264v72H216v528h528v-264h72v264q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm171-192-51-51 357-357H576v-72h240v240h-72v-117L387-336Z"
            />
          </svg>
        </div>
        <p class="mt-4">Các thành phần phần mềm:</p>
        <ul>
          <li>Quản lý sản xuất.</li>
          <li>
            Quản lý công nghệ. Có kết nối với đầu đo quang phổ Datacolor, máy
            hút màu phòng thí nghiệm Datacolor Autolab TF.
          </li>
          <li>Quản lý kho nguyên liệu, thành phẩm và bán thành phẩm.</li>
          <li>Cân thuốc nhuộm bán tự động.</li>
        </ul>
      </div>
      <div class="col service-box">
        <div class="card partner-logo-card">
          <img
            src="anh/logo-doi-tac/logo-dung-dong.webp"
            alt="Công ty TNHH Sản xuất Thương mại và Đầu tư Dũng Đông"
            width="293"
            height="92"
            class="partner-logo"
            loading="lazy"
          />
          <a
            href="https://chimay.vn"
            target="_blank"
            rel="nofollow noopener external"
            class="stretched-link"
            aria-hidden="true"
            tabindex="-1"
            >Chỉ may Dũng Đông - Thêu màu cuộc sống</a
          >
        </div>
        <div class="mt-4">
          <p class="h5 text-muted">2023</p>
          <h3 class="h4">
            <span class="mini-h4"
              >Công&nbsp;ty TNHH Sản&nbsp;xuất Thương&nbsp;mại và
              Đầu&nbsp;tư&nbsp;<wbr /></span
            >Dũng&nbsp;Đông
          </h3>
          <a
            href="https://chimay.vn"
            target="_blank"
            rel="nofollow noopener external"
            >https://chimay.vn</a
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
            class="external-link-icon"
            viewBox="0 -960 960 960"
          >
            <path
              d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h264v72H216v528h528v-264h72v264q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm171-192-51-51 357-357H576v-72h240v240h-72v-117L387-336Z"
            />
          </svg>
        </div>
        <p class="mt-4">Các thành phần phần mềm:</p>
        <ul>
          <li>Quản lý sản xuất.</li>
          <li>
            Quản lý công nghệ. Có kết nối với đầu đo quang phổ Datacolor, máy
            rót màu phòng thí nghiệm COPOWER CptLab.
          </li>
          <li>Quản lý kho nguyên liệu, thành phẩm và bán thành phẩm.</li>
          <li>Cân thuốc nhuộm bán tự động.</li>
          <li>Cân hoá chất bán tự động.</li>
          <li>
            Cải tạo điều khiển máy nhuộm từ vận hành bằng tay thành điều khiển
            tự động theo chương trình, kết nối trực tiếp và điều khiển từ phần
            mềm quản lý sản xuất.
          </li>
        </ul>
      </div>
      <div class="col service-box">
        <div id="spica-card" class="card partner-logo-card">
          <img
            src="anh/logo-doi-tac/logo-spica.webp"
            alt="Công ty TNHH Nhuộm Spica"
            width="293"
            height="93"
            class="partner-logo"
            loading="lazy"
          />
          <a
            href="https://spica-group.com"
            target="_blank"
            rel="nofollow noopener external"
            class="stretched-link"
            aria-hidden="true"
            tabindex="-1"
            >Spica</a
          >
        </div>
        <div class="mt-4">
          <p class="h5 text-muted">2024</p>
          <h3 class="h4">
            <span class="mini-h4">Công&nbsp;ty TNHH Nhuộm&nbsp;<wbr /></span
            >Spica
          </h3>
          <a
            href="https://spica-group.com"
            target="_blank"
            rel="nofollow noopener external"
            >https://spica-group.com</a
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            fill="currentColor"
            class="external-link-icon"
            viewBox="0 -960 960 960"
          >
            <path
              d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h264v72H216v528h528v-264h72v264q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm171-192-51-51 357-357H576v-72h240v240h-72v-117L387-336Z"
            />
          </svg>
        </div>
        <p class="mt-4">Các thành phần phần mềm:</p>
        <ul>
          <li>Quản lý sản xuất.</li>
          <li>
            Quản lý công nghệ. Có kết nối với đầu đo quang phổ Datacolor, máy
            rót màu phòng thí nghiệm COPOWER CptLab.
          </li>
          <li>Quản lý kho nguyên liệu, thành phẩm và bán thành phẩm.</li>
          <li>Cân thuốc nhuộm bán tự động.</li>
          <li>Cân hoá chất bán tự động.</li>
          <li>
            Cải tiến chương trình trên bộ điều khiển Delta của máy nhuộm hiện
            hữu để kết nối và chuyển chương trình nhuộm, thể tích nước, tốc độ
            bơm chính từ phần mềm quản lý sản xuất.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
