<section class="pb-0" id="{{ t.toc_projects_id }}">
  <div class="container">
    <div
      aria-hidden="true"
      class="heading-number mb-4"
      data-number="04"
      data-squircle-radius
    ></div>
    <h2 class="mt-0">{{ t.projects_title }}</h2>
    <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 mt-12">
      <div class="col service-box">
        <div class="card partner-logo-card">
          <img
            alt="{{ t.hjk_24 }}"
            class="partner-logo"
            data-squircle-radius
            height="149"
            loading="lazy"
            src="{{ site.url }}/anh/logo-doi-tac/logo-tuan-hong.png"
            srcset="
              {{ site.url }}/anh/logo-doi-tac/logo-tuan-hong.png    1x,
              {{ site.url }}/anh/logo-doi-tac/logo-tuan-hong-2x.png 2x
            "
            width="158"
          />
          <a
            aria-hidden="true"
            class="stretched-link"
            href="https://tuanhonggroup.com"
            rel="nofollow noopener external"
            tabindex="-1"
            target="_blank"
            >Tuấn Hồng Group</a
          >
        </div>
        <div>
          <h3 class="h4 mt-4">
            <span class="h5 text-tertiary">2022</span>
            <span class="visually-hidden">—</span>
            {{ t.hjk_25 }}
          </h3>
          <a
            href="https://tuanhonggroup.com"
            rel="nofollow noopener external"
            target="_blank"
            >https://tuanhonggroup.com</a
          >
          <svg
            class="external-link-icon"
            fill="currentColor"
            height="1em"
            viewBox="0 -960 960 960"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h264v72H216v528h528v-264h72v264q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm171-192-51-51 357-357H576v-72h240v240h-72v-117L387-336Z"
            />
          </svg>
        </div>
        {{ t.hjk_26 }}
      </div>
      <div class="col service-box">
        <div class="card partner-logo-card">
          <img
            alt="{{ t.hjk_27 }}"
            class="partner-logo"
            data-squircle-radius
            height="92"
            loading="lazy"
            src="{{ site.url }}/anh/logo-doi-tac/logo-dung-dong.png"
            srcset="
              {{ site.url }}/anh/logo-doi-tac/logo-dung-dong.png    1x,
              {{ site.url }}/anh/logo-doi-tac/logo-dung-dong-2x.png 2x
            "
            width="293"
          />
          <a
            aria-hidden="true"
            class="stretched-link"
            href="https://chimay.vn"
            rel="nofollow noopener external"
            tabindex="-1"
            target="_blank"
            >Chỉ may Dũng Đông - Thêu màu cuộc sống</a
          >
        </div>
        <div>
          <h3 class="h4 mt-4">
            <span class="h5 text-tertiary">2023</span>
            <span class="visually-hidden">—</span>
            {{ t.hjk_28 }}
          </h3>
          <a
            href="https://chimay.vn"
            rel="nofollow noopener external"
            target="_blank"
            >https://chimay.vn</a
          >
          <svg
            class="external-link-icon"
            fill="currentColor"
            height="1em"
            viewBox="0 -960 960 960"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h264v72H216v528h528v-264h72v264q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm171-192-51-51 357-357H576v-72h240v240h-72v-117L387-336Z"
            />
          </svg>
        </div>
        {{ t.hjk_29 }}
      </div>
      <div class="col service-box">
        <div
          class="card partner-logo-card"
          data-squircle-radius
          id="spica-card"
        >
          <img
            alt="{{ t.hjk_30 }}"
            class="partner-logo"
            height="93"
            loading="lazy"
            src="{{ site.url }}/anh/logo-doi-tac/logo-spica.png"
            srcset="
              {{ site.url }}/anh/logo-doi-tac/logo-spica.png    1x,
              {{ site.url }}/anh/logo-doi-tac/logo-spica-2x.png 2x
            "
            width="293"
          />
          <a
            aria-hidden="true"
            class="stretched-link"
            href="https://spica-group.com"
            rel="nofollow noopener external"
            tabindex="-1"
            target="_blank"
            >Spica</a
          >
        </div>
        <div>
          <h3 class="h4 mt-4">
            <span class="h5 text-tertiary">2024</span>
            <span class="visually-hidden">—</span>
            {{ t.hjk_31 }}
          </h3>
          <a
            href="https://spica-group.com"
            rel="nofollow noopener external"
            target="_blank"
            >https://spica-group.com</a
          >
          <svg
            class="external-link-icon"
            fill="currentColor"
            height="1em"
            viewBox="0 -960 960 960"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h264v72H216v528h528v-264h72v264q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm171-192-51-51 357-357H576v-72h240v240h-72v-117L387-336Z"
            />
          </svg>
        </div>
        {{ t.hjk_32 }}
      </div>
    </div>
  </div>
</section>
