<section id="request-a-demo" class="bg-primary">
  <div class="container text-center">
    <h2 class="col-lg-8 mx-auto">
      Sẵn&nbsp;sàng để nâng&nbsp;cấp nhà&nbsp;máy của bạn?
    </h2>
    <p class="big col-lg-8 mx-auto">
      Hãy đặt lịch để nhận tư&nbsp;vấn miễn&nbsp;phí hoặc gửi email cho chúng&nbsp;tôi qua địa&nbsp;chỉ {{site.email}}
    </p>
    <a href="mailto:{{site.email}}" class="btn-secondary btn-xl">
      Yêu&nbsp;cầu bản Demo phần&nbsp;mềm<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 -960 960 960" width="1em" fill="currentColor" class="external-link-icon"><path d="M222.87-144.87q-32.42 0-55.21-22.79t-22.79-55.21v-514.26q0-32.42 22.79-55.21t55.21-22.79H477v78H222.87v514.26h514.26V-477h78v254.13q0 32.42-22.79 55.21t-55.21 22.79H222.87ZM395.91-341 341-395.91l341.22-341.22H568v-78h247.13V-568h-78v-114.22L395.91-341Z"/></svg>
    </a>
  </div>
</section>
