<section id="customer-assistance" class="bg-primary">
  <div class="container">
    <h2>Chúng&nbsp;tôi rất hân&nbsp;hạnh được hỗ&nbsp;trợ bạn</h2>
    <p class="big text-white">
      Hãy gọi
      <a href="tel:+84983505002" class="text-white">0983.50.50.02</a>
      để được chúng tôi tư vấn miễn phí hoặc gửi các câu hỏi của bạn cho chúng
      tôi qua địa chỉ email
      <a href="mailto:{{ site.email }}" class="text-white">{{ site.email }}</a>
    </p>
    <a
      href="mailto:{{ site.email }}"
      role="button"
      class="btn-secondary btn-xl mt-4"
    >
      Yêu cầu bản Demo phần mềm
    </a>
  </div>
</section>
