<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Chúng&nbsp;tôi biết những gì tốt&nbsp;nhất cho nhà&nbsp;máy của bạn</h2>
                <hr class="light">
                <p class="text-faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.<br/>Hãy đặt lịch để nhận tư vấn miễn phí hoặc email cho chúng tôi qua địa chỉ ceo@alphasoftwaregroup.com</p>
                <a href="#" class="btn btn-default btn-xl">CTA Action</a>
            </div>
        </div>
    </div>
</section>
