<section id="cau-chuyen-cua-alpha-software" class="bg-dark">
  <div class="container">
    <h2 class="mx-auto text-center">Câu&nbsp;chuyện của Alpha&nbsp;Software</h2>
    <div class="hr mt-4" aria-hidden="true"></div>
    <div class="row row-cols-lg-2 row-cols-1 justify-content-lg-center justify-content-left mt-9">
      <img
        src="anh/chan-dung/chan-dung-ong-phan-duc-tuan-anh.webp"
        alt="Chân dung Ông Phan Đức Tuấn Anh"
        class="text-lg-end"
        loading="lazy"
      />
      <p class="col-lg-6">
        Alpha&nbsp;Software được thành lập vào năm 2021 bởi Ông Phan Đức Tuấn Anh, người có hơn 28 năm kinh nghiệm thực
        tiễn trong lĩnh vực dệt may—trong đó có 13 năm là kỹ thuật viên nhuộm và 15 năm làm Giám đốc nhà máy. Với nền
        tảng vững chắc về Hoá học Hữu cơ cùng sự hiểu biết sâu sắc về quản lý nhà máy và phát triển phần mềm, ông Tuấn
        Anh đã giúp chúng tôi cung cấp các giải pháp công nghệ thực tiễn đáp ứng nhu cầu của các doanh nghiệp dệt may
        hiện đại.
      </p>
    </div>
  </div>
</section>
