<section class="pb-0" id="{{ t.toc_products_id }}">
  <div class="container">
    <div
      aria-hidden="true"
      class="heading-number mb-3"
      data-number="03"
      data-squircle-radius
    ></div>
    <h2 class="mt-0">{{ t.products_title }}</h2>
    <div class="accordion mt-12" id="accordion-chi-tiet-cac-san-pham">
      <div class="accordion-item">
        <button
          aria-controls="collapse-alpha-smart-dyehouse"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#collapse-alpha-smart-dyehouse"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="accordion-header" id="alpha-smart-dyehouse">
            {{ t.alpha_smart_dyehouse }}
          </h3>
        </button>
        <div
          aria-labelledby="alpha-smart-dyehouse"
          class="accordion-collapse collapse"
          id="collapse-alpha-smart-dyehouse"
        >
          <div class="prose accordion-body">
            {{ t.alpha_smart_dyehouse_content }}
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <button
          aria-controls="collapse-alpha-dyes-weighing"
          aria-expanded="false"
          class="accordion-button collapsed"
          data-bs-target="#collapse-alpha-dyes-weighing"
          data-bs-toggle="collapse"
          type="button"
        >
          <h3 class="accordion-header" id="alpha-dyes-weighing">
            {{ t.alpha_dyes_weighing }}
          </h3>
        </button>
        <div
          aria-labelledby="alpha-dyes-weighing"
          class="accordion-collapse collapse"
          id="collapse-alpha-dyes-weighing"
        >
          <div class="prose accordion-body">
            {{ t.alpha_dyes_weighing_content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
