<section id="{{ t.toc_reviews_id }}">
  <div class="container">
    <div
      aria-hidden="true"
      class="heading-number mb-3"
      data-number="05"
      data-squircle-radius
    ></div>
    <h2 class="mt-0">{{ t.reviews_title }}</h2>
    <div class="row row-cols-xl-2 row-cols-md-2 row-cols-1 mt-12">
      <div
        class="col service-box"
        itemprop="review"
        itemscope
        itemtype="https://schema.org/Review"
      >
        <meta content="2025-04-28" itemprop="datePublished" />
        <img
          alt="{{ t.female_title }} Nguyễn Thị Nga"
          class="client-portrait"
          data-squircle-radius
          height="342"
          itemprop="image"
          loading="lazy"
          src="{{ site.url }}/anh/chan-dung/chan-dung-ba-nguyen-thi-nga.webp"
          srcset="
            {{ site.url }}/anh/chan-dung/chan-dung-ba-nguyen-thi-nga.webp    1x,
            {{ site.url }}/anh/chan-dung/chan-dung-ba-nguyen-thi-nga-2x.webp 2x
          "
          width="228"
        />
        <blockquote class="blockquote mt-4 mb-0" itemprop="reviewBody">
          {{ t.hjk_33 }}
        </blockquote>
        <p
          class="blockquote-footer"
          itemprop="author"
          itemscope
          itemtype="https://schema.org/Person"
        >
          {{ t.female_title }} <span itemprop="name">Nguyễn Thị Nga</span>,
          <span itemprop="jobTitle">{{ t.co_title_1 }}</span>
          {{ t.of }}
          <span
            itemprop="worksFor"
            itemscope
            itemtype="https://schema.org/Organization"
            ><span itemprop="name">{{ t.hjk_30 }}</span></span
          >
        </p>
        {{ t.translated_review_disclaimer }}
      </div>
      <div
        class="col service-box"
        itemprop="review"
        itemscope
        itemtype="https://schema.org/Review"
      >
        <meta content="2024-10-17" itemprop="datePublished" />
        <img
          alt="{{ t.male_title }} Đinh Văn Hiệp"
          class="client-portrait"
          data-squircle-radius
          height="342"
          itemprop="image"
          loading="lazy"
          src="{{ site.url }}/anh/chan-dung/chan-dung-ong-dinh-van-hiep.webp"
          srcset="
            {{ site.url }}/anh/chan-dung/chan-dung-ong-dinh-van-hiep.webp    1x,
            {{ site.url }}/anh/chan-dung/chan-dung-ong-dinh-van-hiep-2x.webp 2x
          "
          width="228"
        />
        <blockquote class="blockquote mt-4 mb-0" itemprop="reviewBody">
          {{ t.hjk_34 }}
        </blockquote>
        <p
          class="blockquote-footer"
          itemprop="author"
          itemscope
          itemtype="https://schema.org/Person"
        >
          {{ t.male_title }} <span itemprop="name">Đinh Văn Hiệp</span>,
          <span itemprop="jobTitle">{{ t.co_title_2 }}</span>
          {{ t.of }}
          <span
            itemprop="worksFor"
            itemscope
            itemtype="https://schema.org/Organization"
            ><span itemprop="name">{{ t.hjk_24 }}</span></span
          >
        </p>
        {{ t.translated_review_disclaimer }}
      </div>
    </div>
  </div>
</section>
