<section id="features" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Giới&nbsp;thiệu phần&nbsp;mềm quản&nbsp;lý quy&nbsp;trình nhà&nbsp;máy của Alpha&nbsp;Software<hr class="primary"></h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn"></i>
                    <h3>Tích hợp hoàn toàn với máy móc sản xuất</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet magna a nisl iaculis fringilla suscipit et nisi.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn" data-wow-delay=".1s"></i>
                    <h3>Quản lý kho hàng tối ưu</h3>
                    <p>Nullam sit amet urna nec magna lobortis mattis ac id diam. Vivamus id pharetra massa, eu varius urna.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn" data-wow-delay=".2s"></i>
                    <h3>Hệ thống giám sát và điều khiển thời gian thực</h3>
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay=".3s"></i>
                    <h3>Giải pháp tùy chỉnh cho các nhà máy</h3>
                    <p>Sed finibus, enim in ultrices vestibulum, ex nisl accumsan ligula, in consectetur elit nisl rutrum tortor.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <img class="img-responsive" style="width: 100%;" src="img\portfolio\tdt_27032023_industrie_facts.jpg">
            </div>
        </div>
    </div>
</section>
