<section id="features" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 text-center">
        <h2 class="section-heading">
          Giới&nbsp;thiệu phần&nbsp;mềm quản&nbsp;lý quy&nbsp;trình dệt&nbsp;may của Alpha&nbsp;Software
          <hr class="bg-primary" />
        </h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-diamond wow bounceIn"></i>
          <h3>
            T&#xED;ch h&#x1EE3;p ho&#xE0;n to&#xE0;n v&#x1EDB;i m&#xE1;y
            m&#xF3;c s&#x1EA3;n xu&#x1EA5;t
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit
            amet magna a nisl iaculis fringilla suscipit et nisi.
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 text-center">
        <div class="service-box">
          <i
            class="fa fa-4x fa-paper-plane wow bounceIn"
            data-wow-delay=".1s"
          ></i>
          <h3>Qu&#x1EA3;n l&#xFD; kho h&#xE0;ng t&#x1ED1;i &#x1B0;u</h3>
          <p>
            Nullam sit amet urna nec magna lobortis mattis ac id diam. Vivamus
            id pharetra massa, eu varius urna.
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 text-center">
        <div class="service-box">
          <i
            class="fa fa-4x fa-newspaper-o wow bounceIn"
            data-wow-delay=".2s"
          ></i>
          <h3>
            H&#x1EC7; th&#x1ED1;ng gi&#xE1;m s&#xE1;t v&#xE0; &#x111;i&#x1EC1;u
            khi&#x1EC3;n th&#x1EDD;i gian th&#x1EF1;c
          </h3>
          <p>
            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos.
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay=".3s"></i>
          <h3>
            Gi&#x1EA3;i ph&#xE1;p t&#xF9;y ch&#x1EC9;nh cho c&#xE1;c nh&#xE0;
            m&#xE1;y
          </h3>
          <p>
            Sed finibus, enim in ultrices vestibulum, ex nisl accumsan ligula,
            in consectetur elit nisl rutrum tortor.
          </p>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12 text-center">
        <img
          class="img-fluid"
          style="width: 100%"
          src="img\portfolio\tdt_27032023_industrie_facts.jpg"
        />
      </div>
    </div>
  </div>
</section>
