<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 text-center"> <!-- TODO -->
        <!-- <h2 class="section-heading">Alpha Software</h2>
        <hr class="bg-primary" /> -->
        <p class="text-start" tabindex="0">
          <b>Công&nbsp;ty TNHH Phát&nbsp;triển Phần&nbsp;mềm Alpha&nbsp;Software</b><br />
          Tel:&nbsp;0983.505.002<br />
          Email:&nbsp;{{ site.email }}<br />
          Thời&nbsp;gian hoạt&nbsp;động: 08:00–17:00
          <br />
          <br />Copyright © Alpha&nbsp;Software&nbsp;Ltd. All&nbsp;rights&nbsp;reserved.
        </p>
      </div>
      <!-- <div class="col-xl-2 text-center">
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>
      <div class="col-xl-2 text-center">
        <a href="mailto:{{ site.email }}">
          <i
            class="fa fa-envelope-o fa-3x wow bounceIn"
            data-wow-delay=".1s"
          ></i>
        </a>
      </div>
      <div class="col-xl-2 text-center">
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div> -->
    </div>
  </div>
</section>
