<div class="container text-start">
  <figure class="mb-0">
    <img src="img/logo/alpha-small.svg" alt="Alpha Software logo" height="48">
    <figcaption style="margin-top: 0.618rem;">
      <strong>{{site.company_name}}</strong>
    </figcaption>
  </figure>
  <address>
    <p>
      Số điện thoại: <a href="tel:0983505002">0983505002</a><br />
      Email: <a href="mailto:{{site.email}}">{{site.email}}</a><br />
      Thời&nbsp;gian hoạt&nbsp;động: 08:00&ndash;17:00
    </p>
  </address>
</div>
<div class="container">
  <small class="text-start notranslate">
    &copy; 2021&ndash;2024 Alpha Software Development Company Ltd. All Rights Reserved.
  </small>
</div>