<section id="gallery" class="no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-xl-4 col-md-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/1.jpg" class="img-fluid" alt />

          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Category</div>

              <div class="project-name">Project Name</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/2.jpg" class="img-fluid" alt />

          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Category</div>

              <div class="project-name">Project Name</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/3.jpg" class="img-fluid" alt />

          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Category</div>

              <div class="project-name">Project Name</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/4.jpg" class="img-fluid" alt />

          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Category</div>

              <div class="project-name">Project Name</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/5.jpg" class="img-fluid" alt />

          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Category</div>

              <div class="project-name">Project Name</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-4 col-md-6">
        <a href="#" class="portfolio-box">
          <img src="img/portfolio/6.jpg" class="img-fluid" alt />

          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">Category</div>

              <div class="project-name">Project Name</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- SECTION: DEMO -->
  <br />
  <div id="demo" class="container">
    <div class="row">
      <div class="col-xl-12 text-center">
        <h2 class="section-heading">
          Video demo ph&#x1EA7;n m&#x1EC1;m
        </h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="row">
        <!-- TODO: Insert a video -->
      </div>
    </div>
  </div>
  <br />
  <!-- <hr>

    <div class="container">

        <div class="row">

            <div class="row">

                <div class="col-md-12">Tại Alpha Software, chúng tôi tin rằng . . .<br><br>Chúng tôi không chỉ cung cấp công nghệ mà còn mang đến kiến thức chuyên sâu về ngành dệt may. Thế mạnh của chúng tôi nằm ở sự hiểu biết sâu sắc về sản xuất và quản lý trong ngành dệt may, nhờ vào kinh nghiệm lâu năm của người sáng lập trong vai trò giám đốc nhà máy. Điều này giúp chúng tôi thiết kế các giải pháp phần mềm không chỉ đáp ứng nhu cầu kỹ thuật mà còn giải quyết những yêu cầu thực tiễn trong hoạt động nhà máy hàng ngày.</div>

            </div>

        </div>

    </div> -->
</section>
