<section id="gioi-thieu">
  <div class="container">
    <div aria-hidden="true" class="heading-number mb-4" data-number="01"></div>
    <h2 class="mt-0">
      Giới&nbsp;thiệu phần&nbsp;mềm quản&nbsp;lý nhà&nbsp;máy dệt&nbsp;may của
      Alpha&nbsp;Software
    </h2>
    <div class="row row-cols-xl-4 row-cols-md-2 row-cols-1 mt-8">
      <div class="col service-box">
        <div class="bi">
          <svg
            aria-hidden="true"
            fill="currentColor"
            height="80"
            viewBox="0 -960 960 960"
            width="80"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M250-281.83h220v-60H250v60ZM370-450h220v-60H370v60Zm120-168.74h220v-60H490v60ZM185.09-105.87q-32.51 0-55.87-23.35-23.35-23.36-23.35-55.87v-589.82q0-32.74 23.35-56.26 23.36-23.53 55.87-23.53h589.82q32.74 0 56.26 23.53 23.53 23.52 23.53 56.26v589.82q0 32.51-23.53 55.87-23.52 23.35-56.26 23.35H185.09Zm0-79.22h589.82v-589.82H185.09v589.82Zm0-589.82v589.82-589.82Z"
            />
          </svg>
        </div>
        <h3 class="h4 mt-4">
          Lập&nbsp;kế&nbsp;hoạch sản&nbsp;xuất trực&nbsp;quan
        </h3>
        <ul class="spaced-items">
          <li>
            Thao tác lập kế hoạch, điều chỉnh kế hoạch được thực hiện một cách
            dễ dàng nhanh chóng bằng cách kéo-thả.
          </li>
          <li>
            Khi có sự điều chỉnh kế hoạch của một mẻ hàng, toàn bộ bảng kế hoạch
            sẽ được tự động điều chỉnh theo. Điều này giúp bảng kế hoạch có sự
            đồng bộ tuyệt đối.
          </li>
          <li>
            Bảng triển khai kế hoạch tại nơi sản xuất thể hiện trực quan và kiểm
            soát việc tuân thủ trình tự đã được lập.
          </li>
        </ul>
      </div>
      <div class="col service-box">
        <div class="bi">
          <svg
            aria-hidden="true"
            fill="currentColor"
            height="80"
            viewBox="0 -960 960 960"
            width="80"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M481.7-346.17q66.26 0 112.26-41.8 46-41.79 46-101.94 0-52.26-33.3-89.26-33.3-37-81.44-37-42.26 0-72.26 27.5-30 27.5-30 66.86 0 17 6.5 33.1t19.5 29.54l44-42q-4.44-3.5-7.22-8.67-2.78-5.17-2.78-11.06 0-13.71 11.28-23.99 11.28-10.28 30.72-10.28 23 0 39.5 18.78t16.5 47.22q0 35.19-27.72 59.59-27.72 24.41-70.28 24.41-50.64 0-86.32-40.5-35.68-40.5-35.68-100.09 0-31.41 11.5-59.41 11.5-28 33.5-50l-43-43q-30 29.56-46.5 68.66-16.5 39.1-16.5 82.02 0 84.32 53 142.82 53.01 58.5 128.74 58.5ZM227.56-67.56v-178.79q-57-53.69-88.5-124.89-31.5-71.19-31.5-148.76 0-155.42 108.55-264.21Q324.66-893 479.73-893q129.23 0 229.12 76.61 99.89 76.61 130.59 198.56L895-396.43q5.13 19.08-6.64 33.97-11.78 14.9-31.4 14.9H773v120.78q0 33.25-23.15 56.23-23.14 22.99-56.63 22.99H613v80h-79.78v-159.22h160v-200h112.3L762.78-598.3q-24-94.18-103.3-154.55-79.31-60.37-179.22-60.37-122.3 0-207.89 84.72-85.59 84.71-85.59 206.17 0 62.51 25.76 119.68 25.76 57.17 72.98 100.56l21.26 20.19v214.34h-79.22Zm268.87-372.83Z"
            />
          </svg>
        </div>
        <h3 class="h4 mt-4">Quản&nbsp;lý công&nbsp;nghệ thông&nbsp;minh</h3>
        <ul class="spaced-items">
          <li>
            Có công cụ để người kỹ thuật trưởng lưu trữ tri thức công nghệ của
            công ty vào phần mềm.
          </li>
          <li>
            Phần mềm sẽ tìm kiếm chính xác công nghệ áp dụng cho mẻ hàng thông
            qua chỉ một cú click chuột. Điều này không những giúp công ty giảm
            được quy mô nhân sự có trình độ kỹ thuật cao mà còn giúp tất cả các
            mẻ hàng được xử lý với công nghệ đồng nhất, từ đó ổn định chất
            lượng.
          </li>
        </ul>
      </div>
      <div class="col service-box">
        <div class="bi">
          <svg
            aria-hidden="true"
            fill="currentColor"
            height="80"
            viewBox="0 -960 960 960"
            width="80"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M110.39-110.39v-199.22h163.04l170.35-170.35v-136.56q-36.75-13.87-60.07-44.37-23.32-30.51-23.32-69.11 0-49.84 34.92-84.72 34.92-34.89 84.81-34.89 49.88 0 84.69 34.89 34.8 34.88 34.8 84.72 0 38.6-23.32 69.11-23.32 30.5-60.07 44.37v136.56l170.91 170.35h162.48v199.22H650.39v-129L480-409.78 309.61-239.39v129H110.39Z"
            />
          </svg>
        </div>
        <h3 class="h4 mt-4">
          Tích&nbsp;hợp với các thiết&nbsp;bị&nbsp;sản&nbsp;xuất,
          thiết&nbsp;bị&nbsp;phòng&nbsp;lab
        </h3>
        <ul class="spaced-items">
          <li>
            Với các thiết bị vận hành tự động nhưng độc lập, chúng tôi có thể
            giúp kết nối vào hệ thống phần mềm để hình thành một hệ thống nhất.
          </li>
          <li>
            Chúng tôi cũng có thể giúp cải tạo các thiết bị đang vận hành bằng
            tay thông qua công tắc và nút nhấn thành điều kiển tự động theo quy
            trình và kết nối với hệ thống phần mềm.
          </li>
        </ul>
      </div>
      <div class="col service-box">
        <div class="bi">
          <svg
            aria-hidden="true"
            fill="currentColor"
            height="80"
            viewBox="0 -960 960 960"
            width="80"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M67-67v-502.48l306-130.3v80.56l200-81.56v128.01h320V-67H67Zm79.22-79.22h667.56v-347.2H496.61v-88.97l-200 80v-79.57l-150.39 65.92v369.82ZM443.78-240h72.44v-160h-72.44v160ZM277-240h73v-160h-73v160Zm333 0h73v-160h-73v160Zm283-333H698.3l40-316.61h113L893-573ZM146.22-146.22h667.56-667.56Z"
            />
          </svg>
        </div>
        <h3 class="h4 mt-4">
          Tuỳ&nbsp;chỉnh phù&nbsp;hợp cho từng nhà&nbsp;máy
        </h3>
        <ul class="spaced-items">
          <li>
            Hiểu rằng mỗi nhà máy có hệ thống quản lý khác nhau, chúng tôi luôn
            khảo sát kỹ càng để thiết kế và triển khai cho phù hợp, liên tục cải
            tiến để giúp hoạt động của nhà máy ngày càng hiệu quả hơn.
          </li>
          <li>
            Bên cạnh đó, trong quá trình hợp tác, chúng tôi cũng có khả năng tư
            vấn cho khách hàng cải tiến quy trình để đạt hiệu quả và tiết kiệm.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mt-8">
    <div class="bi">
      <svg
        aria-hidden="true"
        fill="currentColor"
        height="80"
        viewBox="0 -960 960 960"
        width="80"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M432-65.87q-36.57 0-69.36-14.95t-54.82-43.35L85.74-407.52l35.69-32.61q18.47-16.29 43.23-19.14 24.77-2.86 47.3 8.83l87.13 45.09v-346.91q0-15.51 10.98-26.43 10.99-10.92 26.61-10.92t26.36 10.92q10.74 10.92 10.74 26.43v471.22l-160.39-84.92 157.13 197.44q11.15 13.47 26.89 20.43 15.75 6.96 33.46 6.96h225.91q34.37 0 58.51-23.73t24.14-58.55v-155.68q0-31.15-21.6-52.36-21.6-21.2-52.53-21.2H453.78v-75.26h211.17q61.97 0 105.86 43.62t43.89 105.2v155.87q0 65.83-46.05 111.59-46.04 45.76-111.61 45.76H432ZM176.43-659.35q-12.16-20.38-18.71-44.01-6.55-23.63-6.55-48.65 0-76.9 54.17-130.93 54.16-54.02 131.01-54.02t131.1 54.22q54.25 54.23 54.25 131.16 0 24.95-6.55 48.45-6.55 23.5-18.72 43.78l-65-37.35q7-12 11-26t4-29.47q0-45.53-32.11-77.53-32.12-32-78-32-45.89 0-77.89 32.09-32 32.08-32 77.91 0 15 4 29t11 26l-65 37.35ZM476.7-334.52Z"
        />
      </svg>
    </div>
    <h3 class="mt-4">Rất dễ sử&nbsp;dụng!</h3>
    <p class="big">
      Chúng tôi luôn hướng đến cách vận hành phần mềm đơn giản nhất, cần ít thao
      tác nhất để người công nhân đứng máy, nhân viên văn phòng dù không có kiến
      thức tin học cơ bản vẫn có thể sử dụng được một cách dễ dàng.
    </p>
  </div>
</section>
