<section id="{{ t.toc_overview_id }}">
  <div class="container">
    <div
      class="heading-number mb-4"
      data-number="01"
      data-squircle-radius
      role="presentation"
    ></div>
    <h2 class="mt-0">{{ t.overview_title }}</h2>
    <div class="row row-cols-xl-4 row-cols-md-2 row-cols-1 mt-12">
      <div class="col service-box">
        <img
          alt=""
          class="bi"
          height="80"
          role="presentation"
          src="{{ site.url }}/anh/svg/material_symbols/psychology.svg"
          width="80"
        />
        <h3 class="h4 mt-4">{{ t.hjk_5 }}</h3>
        <ul class="spaced-items">
          <li>{{ t.hjk_6 }}</li>
          <li>{{ t.hjk_7 }}</li>
        </ul>
      </div>
      <div class="col service-box">
        <img
          alt=""
          class="bi"
          height="80"
          role="presentation"
          src="{{ site.url }}/anh/svg/material_symbols/view_timeline.svg"
          width="80"
        />
        <h3 class="h4 mt-4">{{ t.hjk_1 }}</h3>
        <ul class="spaced-items">
          <li>{{ t.hjk_2 }}</li>
          <li>{{ t.hjk_3 }}</li>
          <li>{{ t.hjk_4 }}</li>
        </ul>
      </div>
      <div class="col service-box">
        <img
          alt=""
          class="bi"
          height="80"
          role="presentation"
          src="{{ site.url }}/anh/svg/material_symbols/precision_manufacturing.svg"
          width="80"
        />
        <h3 class="h4 mt-4">{{ t.hjk_8 }}</h3>
        <ul class="spaced-items">
          <li>{{ t.hjk_9 }}</li>
          <li>{{ t.hjk_10 }}</li>
        </ul>
      </div>
      <div class="col service-box">
        <img
          alt=""
          class="bi"
          height="80"
          role="presentation"
          src="{{ site.url }}/anh/svg/material_symbols/warehouse.svg"
          width="80"
        />
        <h3 class="h4 mt-4">{{ t.hjk_11 }}</h3>
        <ul class="spaced-items">
          <li>{{ t.hjk_12 }}</li>
          <li>{{ t.hjk_13 }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mt-8">
    <img
      alt=""
      class="bi"
      height="80"
      role="presentation"
      src="{{ site.url }}/anh/svg/material_symbols/diversity_1.svg"
      width="80"
    />
    <h3 class="mt-4">{{ t.hjk_14 }}</h3>
    <p>{{ t.hjk_15 }}</p>
  </div>
</section>
