<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="noselect">Nâng tầm nhà&nbsp;máy dệt&nbsp;may bằng phương&nbsp;pháp <span class="highlight-hero"><abbr title="Test">chuyển&nbsp;đổi&nbsp;số</abbr></span></h1>
            <!-- <hr> -->
            <p>Alpha Software cách mạng hóa quản lý sản xuất dệt may qua giám sát thời gian thực, tích hợp máy móc và tự động hóa tùy chỉnh.</p>
            <a href="#about" class="btn btn-default btn-xl page-scroll">Nhận tư vấn</a>
        </div>
    </div>
</header>
