<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 tabindex="0">
        Nâng&nbsp;tầm doanh&nbsp;nghiệp dệt&nbsp;may bằng giải&nbsp;pháp
        chuyển&nbsp;đổi&nbsp;số
      </h1>
      <p tabindex="0">
        Alpha Software cách mạng hóa quản lý sản xuất dệt may qua việc phát
        triển phần mềm quản lý quy trình công nghệ một cách khoa học, thiết lập
        và triển khai kế hoạch sản xuất một cách trực quan, kết nối với các
        thiết bị sản xuất để tăng cường tự động hóa giúp nhà máy cải thiện chất
        lượng, tăng sản lượng và rút ngắn thời gian giao hàng.
      </p>
      <a href="#tong-quan" class="btn btn-primary btn-xl"
        >Khám&nbsp;phá thêm</a
      >
    </div>
  </div>
</header>
