<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 class="noselect">
        Đổi&nbsp;mới quy&nbsp;trình dệt&nbsp;may bằng giải&nbsp;pháp<br /><span class="highlight-hero" tabindex="0"
          ><abbr
            title='Gi&#x1EA3;i ngh&#x129;a t&#x1EEB; "chuy&#x1EC3;n &#x111;&#x1ED5;i s&#x1ED1;"'
            >chuy&#x1EC3;n&#xA0;&#x111;&#x1ED5;i&#xA0;s&#x1ED1;</abbr
          ></span
        >
      </h1>
      <!-- <hr> -->
      <p tabindex="0">
        Alpha&#xA0;Software c&#xE1;ch&#xA0;m&#x1EA1;ng&#xA0;h&#xF3;a
        qu&#x1EA3;n&#xA0;l&#xFD; s&#x1EA3;n&#xA0;xu&#x1EA5;t d&#x1EC7;t&#xA0;may
        qua vi&#x1EC7;c ph&#xE1;t&#xA0;tri&#x1EC3;n ph&#x1EA7;n&#xA0;m&#x1EC1;m
        qu&#x1EA3;n&#xA0;l&#xFD; quy&#xA0;tr&#xEC;nh c&#xF4;ng&#xA0;ngh&#x1EC7;
        m&#x1ED9;t c&#xE1;ch khoa&#xA0;h&#x1ECD;c, thi&#x1EBF;t&#xA0;l&#x1EAD;p
        v&#xE0; tri&#x1EC3;n&#xA0;khai k&#x1EBF;&#xA0;ho&#x1EA1;ch
        s&#x1EA3;n&#xA0;xu&#x1EA5;t m&#x1ED9;t c&#xE1;ch tr&#x1EF1;c&#xA0;quan,
        k&#x1EBF;t n&#x1ED1;i v&#x1EDB;i c&#xE1;c thi&#x1EBF;t&#xA0;b&#x1ECB;
        s&#x1EA3;n&#xA0;xu&#x1EA5;t &#x111;&#x1EC3;
        t&#x103;ng&#xA0;c&#x1B0;&#x1EDD;ng
        t&#x1EF1;&#xA0;&#x111;&#x1ED9;ng&#xA0;h&#xF3;a gi&#xFA;p
        nh&#xE0;&#xA0;m&#xE1;y c&#x1EA3;i&#xA0;thi&#x1EC7;n
        ch&#x1EA5;t&#xA0;l&#x1B0;&#x1EE3;ng, t&#x103;ng
        s&#x1EA3;n&#xA0;l&#x1B0;&#x1EE3;ng v&#xE0; r&#xFA;t ng&#x1EAF;n
        th&#x1EDD;i&#xA0;gian giao h&#xE0;ng.
      </p>
      <a href="#overview" class="btn btn-primary btn-xl page-scroll"
        >Kh&#xE1;m ph&#xE1; th&#xEA;m</a
      >
    </div>
  </div>
</header>
