<div class="container mt-12 mb-12">
  <p class="h5 mb-3">{{ site.company_name }}</p>
  <address class="big">
    <dl>
      <dt>Số điện thoại:</dt>
      <dd>
        <a href="tel:+84983505002">0983.50.50.02</a>
        <svg
          class="external-link-icon"
          fill="currentColor"
          height="1em"
          viewBox="0 -960 960 960"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M763-145q-121-9-229.5-59.5T339-341q-86-86-136-194.5T144-765q-2-21 12.5-36.5T192-817h136q17 0 29.5 10.5T374-780l24 107q2 13-1.5 25T385-628l-97 98q20 38 46 73t58 66q30 30 64 55.5t72 45.5l99-96q8-8 20-11.5t25-1.5l107 23q17 5 27 17.5t10 29.5v136q0 21-16 35.5T763-145Z"
          />
        </svg>
        <small class="small-16 text-secondary">
          Ông Phan Đức Tuấn Anh, Giám&nbsp;đốc
        </small>
      </dd>
    </dl>
    <dl>
      <dt>Email:</dt>
      <dd>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        <svg
          class="external-link-icon"
          fill="currentColor"
          height="1em"
          viewBox="0 -960 960 960"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h264v72H216v528h528v-264h72v264q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm171-192-51-51 357-357H576v-72h240v240h-72v-117L387-336Z"
          />
        </svg>
      </dd>
    </dl>
    <dl>
      <dt>Mạng xã hội:</dt>
      <dd>
        <a
          href="{{ site.facebook_page }}"
          rel="nofollow noopener external"
          target="_blank"
          >Alpha Software | Facebook</a
        >
        <svg
          class="external-link-icon"
          fill="currentColor"
          height="1em"
          viewBox="0 -960 960 960"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h264v72H216v528h528v-264h72v264q0 29.7-21.15 50.85Q773.7-144 744-144H216Zm171-192-51-51 357-357H576v-72h240v240h-72v-117L387-336Z"
          />
        </svg>
      </dd>
    </dl>
    <dl>
      <dt>Thời gian hoạt động:</dt>
      <dd>8:00 &ndash; 11:00 (sáng)</dd>
      <dd>13:00 &ndash; 16:00 (chiều)</dd>
    </dl>
  </address>
</div>
<div class="container-fluid px-0 pt-2 pb-2 bg-gray-100">
  <div class="container">
    <small class="small-15 copyright-text">
      Bản quyền &copy; 2025 Alpha&nbsp;Software. Bảo lưu mọi quyền.
    </small>
  </div>
</div>
