<meta charset="utf-8" />

<!-- HTML Metadata -->
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta
  content="Alpha Software là công ty hàng đầu trong lĩnh vực phát triển phần mềm quản lý sản xuất, số hóa quy trình, và chuyển đổi số."
  name="description"
/>
<meta
  content="phần mềm quản lý nhà máy, phần mềm dệt may, chuyển đổi số, quản lý sản xuất, Alpha Software"
  name="keywords"
/>
<meta content="index, follow" name="robots" />

<!-- Open Graph and Organization-Type Microdata -->
<meta
  content="https://www.alphasoftwaregroup.com/#organization"
  itemprop="@id"
/>
<meta content="website" property="og:type" />
<meta content="Alpha Software" itemprop="name" property="og:site_name" />
<meta content="{{ site.company_name }}" itemprop="alternateName" />
<meta
  content="https://www.alphasoftwaregroup.com/"
  itemprop="url"
  property="og:url"
/>
<meta
  content="https://www.alphasoftwaregroup.com/anh/logo/alpha-knowledge-graph.png"
  itemprop="logo"
/>
<meta
  content="https://www.alphasoftwaregroup.com/anh/logo/alpha-open-graph.png"
  itemprop="image"
  property="og:image"
/>
<meta content="vi_VN" property="og:locale" />

<meta content="Phan Đức Tuấn Anh" itemprop="founder" />
<meta content="2021-01-20" itemprop="foundingDate" />
<meta content="+84983505002" itemprop="telephone" />
<meta
  content="https://www.facebook.com/profile.php?id=100070371223404"
  itemprop="sameAs"
/>
<meta content="0316685078" itemprop="taxID" />

<meta content="{{ site.title }}" property="og:title" />
<meta
  content="{{ site.description }}"
  itemprop="description"
  property="og:description"
/>

<!-- Twitter Meta Tags -->
<meta content="summary_large_image" name="twitter:card" />
<meta content="{{ site.title }}" name="twitter:title" />
<meta
  content="Alpha Software cung cấp phần mềm và giải pháp số hóa tối ưu cho doanh nghiệp."
  name="twitter:description"
/>
<meta
  content="https://www.alphasoftwaregroup.com/anh/logo/alpha-open-graph.png"
  name="twitter:image"
/>

<!-- Structured Data -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@id": "https://www.alphasoftwaregroup.com/#website",
    "@type": "WebSite",
    "name": "Alpha Software",
    "alternateName": "Công ty TNHH Phát triển Phần mềm Alpha",
    "url": "https://www.alphasoftwaregroup.com/"
  }
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@id": "https://www.alphasoftwaregroup.com/#webpage",
    "@type": "WebPage",
    "name": "Alpha Software",
    "alternateName": "Công ty TNHH Phát triển Phần mềm Alpha",
    "url": "https://www.alphasoftwaregroup.com/"
  }
</script>

<link href="https://www.alphasoftwaregroup.com/" rel="canonical" />
<link href="css/main.css" rel="stylesheet" />
