<meta charset="utf-8" />
<title>{{ site.title }}</title>

<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, viewport-fit=cover"
/>
<meta name="description" content="{{ site.description }}" />
<meta
  name="keywords"
  itemprop="keywords"
  content="phần mềm quản lý nhà máy, phần mềm dệt may, chuyển đổi số, quản lý sản xuất, Alpha Software"
/>
<meta name="robots" content="index, follow" />

<meta property="og:type" content="website" />
<meta property="og:site_name" itemprop="name" content="Alpha Software" />
<meta itemprop="alternateName" content="{{ site.company_name }}" />
<meta
  property="og:url"
  itemprop="url"
  content="https://www.alphasoftwaregroup.com/"
/>
<meta
  itemprop="logo"
  content="https://www.alphasoftwaregroup.com/img/logo/knowledge-graph-logo.png"
/>
<meta
  property="og:image"
  content="https://www.alphasoftwaregroup.com/img/logo/open-graph-logo.png"
/>
<meta property="og:locale" content="vi_VN" />

<meta itemprop="founder" content="Phan Đức Tuấn Anh" />
<meta itemprop="foundingDate" content="2021-01-20" />
<meta itemprop="telephone" content="+84983505002" />
<meta
  itemprop="sameAs"
  content="https://www.facebook.com/profile.php?id=100070371223404"
/>
<meta itemprop="taxID" content="0316685078" />

<meta property="og:title" content="{{ site.title }}" />
<meta
  property="og:description"
  itemprop="description"
  content="{{ site.description }}"
/>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://www.alphasoftwaregroup.com/",
    "name": "Alpha Software"
  }
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "url": "https://www.alphasoftwaregroup.com/",
    "name": "Alpha Software"
  }
</script>

<link rel="canonical" href="https://www.alphasoftwaregroup.com" />
<link rel="stylesheet" href="css/main.css" />
