<div class="container">
  <a class="navbar-brand" href="https://www.alphasoftwaregroup.com">
    <span class="visually-hidden">Alpha Software</span>
    <img
      alt="Trang chủ Alpha Software"
      class="navbar-logo logo-white"
      height="48"
      src="anh/logo/logo-alpha-silhouette.svg"
      width="171"
    /><img
      alt="Trang chủ Alpha Software"
      class="navbar-logo logo-color"
      height="48"
      src="anh/logo/logo-alpha.svg"
      width="171"
    />
  </a>
  <div class="collapse navbar-collapse">
    <ol class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="#gioi-thieu">Giới thiệu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-active-blue" href="#cac-loi-ich"
          >Các lợi ích</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#chi-tiet-cac-san-pham"
          >Chi tiết các sản phẩm</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#cac-du-an">Các dự án</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#danh-gia-cua-khach-hang"
          >Đánh giá của khách hàng</a
        >
      </li>
      <li class="visually-hidden nav-item">
        <a class="nav-link" href="#cau-chuyen-cua-alpha-software" tabindex="-1"
          >Câu chuyện của Alpha Software</a
        >
      </li>
    </ol>
  </div>
</div>
