<div class="container">
  <a class="navbar-brand" href="{{ t.homeurl }}">
    <span class="visually-hidden">Alpha Software</span>
    <img
      alt="{{ t.to_homepage }}"
      class="navbar-logo logo-white"
      height="48"
      src="{{ site.url }}/anh/logo/logo-alpha-silhouette.svg"
      width="170"
    /><img
      alt="{{ t.to_homepage }}"
      class="navbar-logo logo-color"
      height="48"
      src="{{ site.url }}/anh/logo/logo-alpha.svg"
      width="170"
    />
  </a>
  <div class="collapse navbar-collapse">
    <ol class="navbar-nav ms-auto">
      <li class="visually-hidden nav-item">
        <a class="nav-link" href="#{{ t.toc_hero_id }}" tabindex="-1"
          >{{ t.toc_hero }}</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#{{ t.toc_overview_id }}"
          >{{ t.toc_overview }}</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-active-blue" href="#{{ t.toc_benefits_id }}"
          >{{ t.toc_benefits }}</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          aria-expanded="false"
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
          href="#{{ t.toc_products_id }}"
          role="button"
        >
          {{ t.toc_products }}
        </a>
        <ul class="dropdown-menu">
          <li>
            <div
              class="a dropdown-item"
              data-target-accordion="#collapse-alpha-smart-dyehouse"
            >
              {{ t.product_1 }}
            </div>
          </li>
          <li>
            <div
              class="a dropdown-item"
              data-target-accordion="#collapse-alpha-dyes-weighing"
            >
              {{ t.product_2 }}
            </div>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#{{ t.toc_projects_id }}"
          >{{ t.toc_projects }}</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#{{ t.toc_reviews_id }}"
          >{{ t.toc_reviews }}</a
        >
      </li>
      <li class="visually-hidden nav-item">
        <a class="nav-link" href="#{{ t.toc_our_story_id }}" tabindex="-1"
          >{{ t.toc_our_story }}</a
        >
      </li>
      <li class="visually-hidden nav-item">
        <a
          class="nav-link"
          href="#{{ t.toc_customer_assistance_id }}"
          tabindex="-1"
          >{{ t.toc_customer_assistance }}</a
        >
      </li>
    </ol>
  </div>
  <div class="nav-item">
    <a
      class="nav-link language-switcher"
      href="{{ t.translate_to_homeurl }}"
      hreflang="{{ t.translate_to_locale }}"
      title="Translate to {{ t.translate_to_language }}"
      ><img
        alt="Translate to {{ t.translate_to_language }}"
        height="32"
        src="{{ site.url }}/anh/svg/locale_flag/{{ t.translate_to_locale }}.svg"
        width="32"
    /></a>
  </div>
</div>
