<nav id="globalnav" lang="vi-VN" dir="ltr" aria-label="Mục lục"
  class="navbar fixed-top navbar-expand-md align-items-center">
  <div class="container-fluid">
    <a href="#" aria-label="Alpha Software" class="navbar-brand" >
      <img src="img/logo/alpha-white-small.svg" alt="Alpha Software" class="navbar-logo logo-white" />
      <img src="img/logo/alpha-small.svg" alt="Alpha Software" class="navbar-logo logo-color" />
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#tong-quan">1. Tổng&nbsp;quan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#cac-loi-ich">2. Các lợi&nbsp;ích</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#loi-chung-thuc">3. Lời chứng thực</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ve-chung-toi">4. Về chúng&nbsp;tôi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>