<div class="container">
  <a href="{{site.alpha_home_url}}" rel="home noopener noreferrer" aria-label="Alpha Software" class="navbar-brand">
    <img src="img/logo/alpha-white-small.svg" alt="Alpha Software logo" width="171" height="48" fetchpriority="high" class="navbar-logo logo-white" /><img src="img/logo/alpha-small.svg" alt="Alpha Software logo" width="171" height="48" fetchpriority="high" class="navbar-logo logo-color" />
    <span class="visually-hidden active">Alpha Software</span>
  </a>
  <div class="collapse navbar-collapse">
    <ol class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="#introducing-alpha-software">Giới&nbsp;thiệu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navlink-active-blue" href="#advantages">Các lợi&nbsp;thế</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#customer-testimonials">Lời chứng&nbsp;thực</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#our-projects">Các dự&nbsp;án của chúng&nbsp;tôi</a>
      </li>
    </ol>
  </div>
</div>