<nav id="mainNav" class="navbar fixed-top navbar-expand-md align-items-center">
  <a
    class="navbar-brand notranslate"
    href="#"
  >
    <img
      class="navbar-logo logo-vector"
      src="img/logo/alpha-monochrome.svg"
    />

    <img
      class="navbar-logo logo-dark"
      src="img/logo/alpha.png"
    />
  </a>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="#tong-quan">Tổng&nbsp;quan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#cac-loi-ich">Các lợi&nbsp;ích</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#loi-chung-thuc">Lời chứng thực</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#ve-chung-toi"
          >Về chúng&nbsp;tôi</a
        >
      </li>
    </ul>
  </div>
</nav>
