<div class="container">
  <a class="navbar-brand" href="{{ t.homeurl }}">
    <span class="visually-hidden">Alpha Software</span>
    <img
      alt=""
      aria-hidden="true"
      class="navbar-logo logo-white"
      height="48"
      src="{{ site.url }}/img/logo/logo-alpha-silhouette.svg"
      width="170"
    /><img
      alt=""
      aria-hidden="true"
      class="navbar-logo logo-color"
      height="48"
      src="{{ site.url }}/img/logo/logo-alpha.svg"
      width="170"
    />
  </a>

  <button
    aria-controls="navbar-collapse"
    aria-expanded="false"
    aria-label="{{ t.toc }}"
    class="navbar-toggler"
    data-bs-target="#navbar-collapse"
    data-bs-toggle="collapse"
    type="button"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li class="visually-hidden nav-item">
        <a class="nav-link" href="#{{ t.toc_hero_id }}" tabindex="-1">{{ t.toc_hero }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#{{ t.toc_overview_id }}">{{ t.toc_overview }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-active-blue" href="#{{ t.toc_benefits_id }}">{{ t.toc_benefits }}</a>
      </li>
      <li class="nav-item dropdown">
        <a
          aria-expanded="false"
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
          href="#{{ t.toc_products_id }}"
          role="button"
        >
          {{ t.toc_products }}
        </a>
        <ul class="dropdown-menu">
          <li>
            <button
              class="dropdown-item"
              data-target-accordion="#collapse-alpha-smart-dyehouse"
              type="button"
            >
              {{ t.product_1 }}
            </button>
          </li>
          <li>
            <button
              class="dropdown-item"
              data-target-accordion="#collapse-alpha-dyes-weighing"
              type="button"
            >
              {{ t.product_2 }}
            </button>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#{{ t.toc_projects_id }}">{{ t.toc_projects }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#{{ t.toc_reviews_id }}">{{ t.toc_reviews }}</a>
      </li>
      <li class="visually-hidden nav-item">
        <a class="nav-link" href="#{{ t.toc_our_story_id }}" tabindex="-1">{{ t.toc_our_story }}</a>
      </li>
      <li class="visually-hidden nav-item">
        <a class="nav-link" href="#{{ t.toc_support_id }}" tabindex="-1">{{ t.toc_support }}</a>
      </li>
    </ul>
  </div>

  <div class="nav-item">
    <a
      class="nav-link language-switcher"
      href="{{ t.translate_to_homeurl }}"
      hreflang="{{ t.translate_to_locale }}"
      title="Translate to {{ t.translate_to_language }}"
    ><img
        alt="Translate to {{ t.translate_to_language }}"
        height="32"
        src="{{ site.url }}/img/svg/locale_flag/{{ t.translate_to_locale }}.svg"
        width="32"
      /></a>
  </div>
</div>
