<section id="our-projects">
  <div class="container">
    <h2 class="col-lg-8 mx-auto mb-0 text-center">
      Được tin&nbsp;tưởng bởi các doanh&nbsp;nghiệp lớn
    </h2>
    <hr class="above-img" aria-hidden="true" />
    <div class="row row-cols-xl-3 row-cols-1 justify-content-center">
      <div class="col service-box">
        <div class="card partner-logo-card">
          <img src="img\logo-partners\logo-spica.png" alt="Công&nbsp;ty TNHH Nhuộm Spica" class="card-img partner-logo" />
        </div>
        <h3 class="h4 mb-0"><small>Công&nbsp;ty TNHH Nhuộm</small><br/>Spica</h3>
        <a href="https://spica-group.com/" target="_blank" rel="noopener noreferrer"><small>
          https://spica-group.com/<svg width="1.5em" height="1.5em" viewBox="0 0 24 24" stroke-width="2.25" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="external-link-icon"><path d="M21 3L15 3M21 3L12 12M21 3V9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H11" stroke="currentColor" stroke-linecap="round"></path></svg>
        </small></a>
        <p class="mt-2">
          Nulla ut hendrerit eros. Phasellus eu pretium nisl. Pellentesque
          auctor, lectus eu vulputate fermentum.
        </p>
      </div>
      <div class="col service-box">
        <div class="card partner-logo-card">
          <img src="img\logo-partners\logo-dung-dong.png" alt="Công&nbsp;ty TNHH Sản&nbsp;xuất Thương&nbsp;mại và Đầu&nbsp;tư Dũng&nbsp;Đông" class="partner-logo" />
        </div>
        <h3 class="h4"><small>Công&nbsp;ty TNHH Sản&nbsp;xuất Thương&nbsp;mại và Đầu&nbsp;tư</small><br/>Dũng&nbsp;Đông</h3>
        <p class="mt-5">
          Donec congue maximus tincidunt. Morbi dictum auctor turpis quis
          finibus. Vivamus id diam ut diam pellentesque gravida.
        </p>
      </div>
      <div class="col service-box">
        <div class="card partner-logo-card">
          <img src="img\logo-partners\logo-tuan-hong.png" alt="Công&nbsp;ty TNHH Chỉ&nbsp;may Tuấn&nbsp;Hồng" class="partner-logo" />
        </div>
        <h3 class="h4 mb-0"><small>Công&nbsp;ty TNHH Chỉ&nbsp;may</small><br/>Tuấn&nbsp;Hồng</h3>
        <a href="https://tuanhonggroup.com/" target="_blank" rel="noopener noreferrer"><small>https://tuanhonggroup.com/<svg width="1.5em" height="1.5em" viewBox="0 0 24 24" stroke-width="2.25" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="external-link-icon"><path d="M21 3L15 3M21 3L12 12M21 3V9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H11" stroke="currentColor" stroke-linecap="round"></path></svg></small></a>
        <p class="mt-2">
          Temporibus autem quibusdam et aut officiis debitis aut rerum
          necessitatibus saepe eveniet ut et voluptates repudiandae sint et
          molestiae non recusandae.
        </p>
      </div>
    </div>
  </div>
</section>