<section id="our-projects">
  <div class="container">
    <h2 class="col-lg-8 mx-auto mb-0 text-center">
      Được tin&nbsp;tưởng bởi các doanh&nbsp;nghiệp lớn
    </h2>
    <div class="hr above-img" aria-hidden="true"></div>
    <div class="row row-cols-xl-3 row-cols-1 justify-content-center">
      <div class="col service-box">
        <div class="card partner-logo-card">
          <img src="img/logo-partners/logo-tuan-hong.webp" alt="Công&nbsp;ty TNHH Chỉ&nbsp;may Tuấn&nbsp;Hồng" width="152" height="144" class="partner-logo" />
          <a href="https://tuanhonggroup.com/" target="_blank" rel="noopener noreferrer" class="stretched-link" tabindex="-1">Tuấn&nbsp;Hồng</a>
        </div>
        <p class="big text-muted">2022</big>
        <h3 class="h4"><small>Công&nbsp;ty TNHH Chỉ&nbsp;may</small>Tuấn&nbsp;Hồng</h3>
        <a href="https://tuanhonggroup.com/" target="_blank" rel="noopener noreferrer">
          https://tuanhonggroup.com/<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 -960 960 960" width="1em" fill="currentColor" class="external-link-icon"><path d="M222.87-144.87q-32.42 0-55.21-22.79t-22.79-55.21v-514.26q0-32.42 22.79-55.21t55.21-22.79H477v78H222.87v514.26h514.26V-477h78v254.13q0 32.42-22.79 55.21t-55.21 22.79H222.87ZM395.91-341 341-395.91l341.22-341.22H568v-78h247.13V-568h-78v-114.22L395.91-341Z"/></svg>
        </a>
        <p class="dense">
          Các thành&nbsp;phần phần&nbsp;mềm:
        </p>
        <ul class="dense">
          <li>
            Quản&nbsp;lý sản&nbsp;xuất.
          </li>
          <li>
            Quản&nbsp;lý công&nbsp;nghệ. Có kết&nbsp;nối với đầu&nbsp;đo quang&nbsp;phổ Datacolor, máy hút&nbsp;màu phòng&nbsp;thí&nbsp;nghiệm Datacolor&nbsp;Autolab&nbsp;TF.
          </li>
          <li>
            Quản&nbsp;lý kho nguyên&nbsp;liệu, thành&nbsp;phẩm và bán&nbsp;thành&nbsp;phẩm.
          </li>
          <li>
            Cân thuốc&nbsp;nhuộm bán&nbsp;tự&nbsp;động.
          </li>
        </ul>
      </div>
      <div class="col service-box">
        <div class="card partner-logo-card">
          <img src="img/logo-partners/logo-dung-dong.webp" alt="Công&nbsp;ty TNHH Sản&nbsp;xuất Thương&nbsp;mại và Đầu&nbsp;tư Dũng&nbsp;Đông" width="304" height="95" class="partner-logo" />
        </div>
        <p class="big text-muted">2023</big>
        <h3 class="h4"><small>Công&nbsp;ty TNHH Sản&nbsp;xuất Thương&nbsp;mại và Đầu&nbsp;tư</small>Dũng&nbsp;Đông</h3>
        <p class="dense adjust-mt-base">
          Các thành&nbsp;phần phần&nbsp;mềm:
        </p>
        <ul class="dense">
          <li>
            Quản&nbsp;lý sản&nbsp;xuất.
          </li>
          <li>
            Quản&nbsp;lý công&nbsp;nghệ. Có kết&nbsp;nối với đầu&nbsp;đo quang&nbsp;phổ Datacolor, máy rót&nbsp;màu phòng&nbsp;thí&nbsp;nghiệm COPOWER&nbsp;CptLab.
          </li>
          <li>
            Quản&nbsp;lý kho nguyên&nbsp;liệu, thành&nbsp;phẩm và bán&nbsp;thành&nbsp;phẩm.
          </li>
          <li>
            Cân thuốc&nbsp;nhuộm bán&nbsp;tự&nbsp;động.
          </li>
          <li>
            Cân hoá&nbsp;chất bán&nbsp;tự&nbsp;động.
          </li>
          <li>
            Cải&nbsp;tạo điều&nbsp;khiển máy nhuộm từ vận&nbsp;hành bằng&nbsp;tay thành điều&nbsp;khiển tự&nbsp;động theo chương&nbsp;trình, kết&nbsp;nối trực&nbsp;tiếp và điều&nbsp;khiển từ phần&nbsp;mềm quản&nbsp;lý sản&nbsp;xuất.
          </li>
        </ul>
      </div>
      <div class="col service-box">
        <div id="spica-card" class="card partner-logo-card">
          <img src="img/logo-partners/logo-spica.webp" alt="Công&nbsp;ty TNHH Nhuộm Spica" width="304" height="97" class="card-img partner-logo" />
          <a href="https://spica-group.com/" target="_blank" rel="noopener noreferrer" class="stretched-link" tabindex="-1">Spica</a>
        </div>
        <p class="big text-muted">2024</big>
        <h3 class="h4"><small>Công&nbsp;ty TNHH Nhuộm</small>Spica</h3>
        <a href="https://spica-group.com/" target="_blank" rel="noopener noreferrer">
          https://spica-group.com/<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 -960 960 960" width="1em" fill="currentColor" class="external-link-icon"><path d="M222.87-144.87q-32.42 0-55.21-22.79t-22.79-55.21v-514.26q0-32.42 22.79-55.21t55.21-22.79H477v78H222.87v514.26h514.26V-477h78v254.13q0 32.42-22.79 55.21t-55.21 22.79H222.87ZM395.91-341 341-395.91l341.22-341.22H568v-78h247.13V-568h-78v-114.22L395.91-341Z"/></svg>
        </a>
        <p class="dense">
          Các thành&nbsp;phần phần&nbsp;mềm:
        </p>
        <ul class="dense">
          <li>
            Quản&nbsp;lý sản&nbsp;xuất.
          </li>
          <li>
            Quản&nbsp;lý công&nbsp;nghệ. Có kết&nbsp;nối với đầu&nbsp;đo quang&nbsp;phổ Datacolor, máy rót&nbsp;màu phòng&nbsp;thí&nbsp;nghiệm COPOWER&nbsp;CptLab.
          </li>
          <li>
            Quản&nbsp;lý kho nguyên&nbsp;liệu, thành&nbsp;phẩm và bán&nbsp;thành&nbsp;phẩm.
          </li>
          <li>
            Cân thuốc&nbsp;nhuộm bán&nbsp;tự&nbsp;động.
          </li>
          <li>
            Cân hoá&nbsp;chất bán&nbsp;tự&nbsp;động.
          </li>
          <li>
            Cải&nbsp;tiến chương&nbsp;trình trên bộ&nbsp;điều&nbsp;khiển Delta của máy nhuộm hiện&nbsp;hữu để kết&nbsp;nối và chuyển chương&nbsp;trình nhuộm, thể&nbsp;tích nước, tốc&nbsp;độ bơm&nbsp;chính từ phần&nbsp;mềm quản&nbsp;lý sản&nbsp;xuất.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>