<section id="our-story" class="bg-dark">
  <article class="container">
    <h2 class="mx-auto text-center">
      Câu&nbsp;chuyện của Alpha&nbsp;Software
    </h2>
    <div class="hr mt-4" aria-hidden="true"></div>
    <div class="row row-cols-lg-2 row-cols-1 justify-content-lg-center justify-content-left mt-3">
      <img alt="Chân&nbsp;dung Ông Phan&nbsp;Đức&nbsp;Tuấn&nbsp;Anh" class="text-lg-end" />
      <p class="col-lg-6">
        Alpha&nbsp;Software được thành&nbsp;lập vào năm 2021 bởi Ông Phan&nbsp;Đức&nbsp;Tuấn&nbsp;Anh, người có hơn 28&nbsp;năm kinh&nbsp;nghiệm thực&nbsp;tiễn trong lĩnh&nbsp;vực dệt&nbsp;may—trong&nbsp;đó có 13&nbsp;năm là kỹ&nbsp;thuật&nbsp;viên nhuộm và 15&nbsp;năm làm Giám&nbsp;đốc nhà&nbsp;máy. Với nền&nbsp;tảng vững&nbsp;chắc về Hoá&nbsp;học Hữu&nbsp;cơ cùng sự hiểu&nbsp;biết sâu&nbsp;sắc về quản&nbsp;lý nhà&nbsp;máy và phát&nbsp;triển phần&nbsp;mềm, ông Tuấn&nbsp;Anh đã giúp chúng&nbsp;tôi cung&nbsp;cấp các giải&nbsp;pháp công&nbsp;nghệ thực&nbsp;tiễn đáp&nbsp;ứng nhu&nbsp;cầu của các doanh&nbsp;nghiệp dệt&nbsp;may hiện&nbsp;đại.
      </p>
    </div>
  </article>
</section>
