<section id="our-projects">
  <div class="container">
    <div class="heading-number" data-number="04" aria-hidden="true"></div>
    <h2 class="col-lg-8">
      Được tin&nbsp;tưởng bởi các doanh&nbsp;nghiệp lớn
    </h2>
    <!-- <div class="hr above-img" aria-hidden="true"></div> -->
    <div class="row row-cols-xl-3 row-cols-1 justify-content-center">
      <div class="col service-box">
        <div class="card partner-logo-card">
          <img src="img/logo-partners/logo-tuan-hong.webp" alt="Công&nbsp;ty TNHH Chỉ&nbsp;may Tuấn&nbsp;Hồng" width="145" height="137" class="partner-logo" />
          <a href="https://tuanhonggroup.com/" target="_blank" rel="noopener noreferrer" class="stretched-link" tabindex="-1">Tuấn&nbsp;Hồng</a>
        </div>
        <p class="big text-muted">2022</p>
        <h3 class="h4"><small role="presentation">Công&nbsp;ty TNHH Chỉ&nbsp;may&nbsp;<wbr></small>Tuấn&nbsp;Hồng</h3>
        <a href="https://tuanhonggroup.com/" target="_blank" rel="noopener noreferrer">
          https://tuanhonggroup.com/<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 -960 960 960" width="1em" fill="currentColor" class="external-link-icon"><path d="M226.78-133.78q-38.94 0-65.97-27.03t-27.03-65.97v-506.44q0-38.94 27.03-65.97t65.97-27.03H477v93H226.78v506.44h506.44V-477h93v250.22q0 38.94-27.03 65.97t-65.97 27.03H226.78ZM406.02-341 341-406.02l327.19-327.2H568v-93h258.22V-568h-93v-100.19L406.02-341Z"/></svg>
        </a>
        <p>
          Các thành&nbsp;phần phần&nbsp;mềm:
        </p>
        <ul>
          <li>
            Quản&nbsp;lý sản&nbsp;xuất.
          </li>
          <li>
            Quản&nbsp;lý công&nbsp;nghệ. Có kết&nbsp;nối với đầu&nbsp;đo quang&nbsp;phổ Datacolor, máy hút&nbsp;màu phòng&nbsp;thí&nbsp;nghiệm Datacolor&nbsp;Autolab&nbsp;TF.
          </li>
          <li>
            Quản&nbsp;lý kho nguyên&nbsp;liệu, thành&nbsp;phẩm và bán&nbsp;thành&nbsp;phẩm.
          </li>
          <li>
            Cân thuốc&nbsp;nhuộm bán&nbsp;tự&nbsp;động.
          </li>
        </ul>
      </div>
      <div class="col service-box">
        <div class="card partner-logo-card">
          <img src="img/logo-partners/logo-dung-dong.webp" alt="Công&nbsp;ty TNHH Sản&nbsp;xuất Thương&nbsp;mại và Đầu&nbsp;tư Dũng&nbsp;Đông" width="320" height="100" class="partner-logo" />
        </div>
        <p class="big text-muted">2023</p>
        <h3 class="h4"><small role="presentation">Công&nbsp;ty TNHH Sản&nbsp;xuất Thương&nbsp;mại và Đầu&nbsp;tư&nbsp;<wbr></small>Dũng&nbsp;Đông</h3>
        <p class="adjust-mt-base">
          Các thành&nbsp;phần phần&nbsp;mềm:
        </p>
        <ul>
          <li>
            Quản&nbsp;lý sản&nbsp;xuất.
          </li>
          <li>
            Quản&nbsp;lý công&nbsp;nghệ. Có kết&nbsp;nối với đầu&nbsp;đo quang&nbsp;phổ Datacolor, máy rót&nbsp;màu phòng&nbsp;thí&nbsp;nghiệm COPOWER&nbsp;CptLab.
          </li>
          <li>
            Quản&nbsp;lý kho nguyên&nbsp;liệu, thành&nbsp;phẩm và bán&nbsp;thành&nbsp;phẩm.
          </li>
          <li>
            Cân thuốc&nbsp;nhuộm bán&nbsp;tự&nbsp;động.
          </li>
          <li>
            Cân hoá&nbsp;chất bán&nbsp;tự&nbsp;động.
          </li>
          <li>
            Cải&nbsp;tạo điều&nbsp;khiển máy nhuộm từ vận&nbsp;hành bằng&nbsp;tay thành điều&nbsp;khiển tự&nbsp;động theo chương&nbsp;trình, kết&nbsp;nối trực&nbsp;tiếp và điều&nbsp;khiển từ phần&nbsp;mềm quản&nbsp;lý sản&nbsp;xuất.
          </li>
        </ul>
      </div>
      <div class="col service-box">
        <div id="spica-card" class="card partner-logo-card">
          <img src="img/logo-partners/logo-spica.webp" alt="Công&nbsp;ty TNHH Nhuộm Spica" width="320" height="102" class="card-img partner-logo" />
          <a href="https://spica-group.com/" target="_blank" rel="noopener noreferrer" class="stretched-link" tabindex="-1">Spica</a>
        </div>
        <p class="big text-muted">2024</p>
        <h3 class="h4"><small role="presentation">Công&nbsp;ty TNHH Nhuộm&nbsp;<wbr></small>Spica</h3>
        <a href="https://spica-group.com/" target="_blank" rel="noopener noreferrer">
          https://spica-group.com/<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 -960 960 960" width="1em" fill="currentColor" class="external-link-icon"><path d="M226.78-133.78q-38.94 0-65.97-27.03t-27.03-65.97v-506.44q0-38.94 27.03-65.97t65.97-27.03H477v93H226.78v506.44h506.44V-477h93v250.22q0 38.94-27.03 65.97t-65.97 27.03H226.78ZM406.02-341 341-406.02l327.19-327.2H568v-93h258.22V-568h-93v-100.19L406.02-341Z"/></svg>
        </a>
        <p>
          Các thành&nbsp;phần phần&nbsp;mềm:
        </p>
        <ul>
          <li>
            Quản&nbsp;lý sản&nbsp;xuất.
          </li>
          <li>
            Quản&nbsp;lý công&nbsp;nghệ. Có kết&nbsp;nối với đầu&nbsp;đo quang&nbsp;phổ Datacolor, máy rót&nbsp;màu phòng&nbsp;thí&nbsp;nghiệm COPOWER&nbsp;CptLab.
          </li>
          <li>
            Quản&nbsp;lý kho nguyên&nbsp;liệu, thành&nbsp;phẩm và bán&nbsp;thành&nbsp;phẩm.
          </li>
          <li>
            Cân thuốc&nbsp;nhuộm bán&nbsp;tự&nbsp;động.
          </li>
          <li>
            Cân hoá&nbsp;chất bán&nbsp;tự&nbsp;động.
          </li>
          <li>
            Cải&nbsp;tiến chương&nbsp;trình trên bộ&nbsp;điều&nbsp;khiển Delta của máy nhuộm hiện&nbsp;hữu để kết&nbsp;nối và chuyển chương&nbsp;trình nhuộm, thể&nbsp;tích nước, tốc&nbsp;độ bơm&nbsp;chính từ phần&nbsp;mềm quản&nbsp;lý sản&nbsp;xuất.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>