<section class="bg-dark" id="{{ t.toc_our_story_id }}">
  <div class="container">
    <h2 class="mx-auto text-center">{{ t.our_story_title }}</h2>
  </div>
  <div class="hr mt-3" role="presentation"></div>
  <div class="container mt-4">
    <div class="row align-items-start">
      <div class="col-md-5 col-12 text-center">
        <figure class="mx-auto me-md-0 my-0">
          <img
            alt="{{ t.male_title }} Phan Đức Tuấn Anh"
            class="client-portrait"
            data-squircle-radius
            height="336"
            loading="lazy"
            src="{{ site.url }}/img/portraits/chan-dung-ong-phan-duc-tuan-anh.webp"
            srcset="
              {{ site.url }}/img/portraits/chan-dung-ong-phan-duc-tuan-anh.webp    1x,
              {{ site.url }}/img/portraits/chan-dung-ong-phan-duc-tuan-anh-2x.webp 2x
            "
            width="224"
          />
          <figcaption>
            {{ t.male_title }} Phan Đức Tuấn Anh,<br />
            {{ t.founder_title }} {{ t.of }} Alpha&nbsp;Software
          </figcaption>
        </figure>
      </div>
      <div class="prose col-md-7 col-12">{{ t.our_story_body }}</div>
    </div>
  </div>
</section>
