<section id="introduction">
  <div class="container">
    <h2 class="col-lg-8 mx-auto mb-0 text-center">
      Giới&nbsp;thiệu phần&nbsp;mềm quản&nbsp;lý quy&nbsp;trình dệt&nbsp;may
      của Alpha&nbsp;Software
    </h2>
    <hr class="above-icons" aria-hidden="true" />
    <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-1 justify-content-center">
      <div class="col service-box">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
        </svg>
        <h3 class="h4 mt--2 h4-adjust-mb">
          Lập kế&nbsp;hoạch&nbsp;sản&nbsp;xuất trực&nbsp;quan
        </h3>
        <ul class="spaced-items">
          <li>
            Thao tác lập kế hoạch, điều chỉnh kế hoạch được thực hiện một cách dễ dàng nhanh chóng bằng cách kéo-thả.
          </li>
          <li>
            Khi có sự điều chỉnh kế hoạch của một mẻ hàng, toàn bộ bảng kế hoạch sẽ được tự động điều chỉnh theo. Điều này giúp bảng kế hoạch có sự đồng bộ tuyệt đối.
          </li>
          <li>
            Bảng triển khai kế hoạch tại nơi sản xuất thể hiện trực quan và kiểm soát việc tuân thủ trình tự đã được lập.
          </li>
        </ul>
      </div>
      <div class="col service-box">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z"/>
        </svg>
        <h3 class="h4 mt--2 h4-adjust-mb">
          Quản&nbsp;lý&nbsp;công&nbsp;nghệ thông&nbsp;minh
        </h3>
        <ul class="spaced-items">
          <li>
            Có công cụ để người kỹ thuật trưởng lưu trữ tri thức công nghệ của công ty vào phần mềm.
          </li>
          <li>
            Phần mềm sẽ tìm kiếm chính xác công nghệ áp dụng cho mẻ hàng thông qua chỉ một cú click chuột. Điều này không những giúp công ty giảm được quy mô nhân sự có trình độ kỹ thuật cao mà còn giúp tất cả các mẻ hàng được xử lý với công nghệ đồng nhất, từ đó ổn định chất lượng.
          </li>
        </ul>
      </div>
      <div class="col service-box">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-hdd-network-fill" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h5.5v3A1.5 1.5 0 0 0 6 11.5H.5a.5.5 0 0 0 0 1H6A1.5 1.5 0 0 0 7.5 14h1a1.5 1.5 0 0 0 1.5-1.5h5.5a.5.5 0 0 0 0-1H10A1.5 1.5 0 0 0 8.5 10V7H14a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1"/>
        </svg>
        <h3 class="h4 mt--2">
          Kết&nbsp;nối với các thiết&nbsp;bị&nbsp;sản&nbsp;xuất và thiết&nbsp;bị&nbsp;phòng&nbsp;lab
        </h3>
        <ul class="spaced-items">
          <li>
            Với các thiết bị vận hành tự động nhưng độc lập, chúng tôi có thể giúp kết nối vào hệ thống phần mềm để hình thành một hệ thống nhất.
          </li>
          <li>
            Chúng tôi cũng có thể giúp cải tạo các thiết bị đang vận hành bằng tay thông qua công tắc và nút nhấn thành điều khiển tự động theo quy trình và kết nối với hệ thống phần mềm.
          </li>
        </ul>
      </div>
      <div class="col service-box">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11z"/>
        </svg>
        <h3 class="h4 mt--2 h4-adjust-mb">
          Tùy&nbsp;chỉnh phù&nbsp;hợp cho mỗi&nbsp;nhà&nbsp;máy
        </h3>
        <ul class="spaced-items">
          <li>
            Hiểu rằng mỗi nhà máy có hệ thống quản lý khác nhau, chúng tôi luôn khảo sát kỹ càng để thiết kế và triển khai cho phù hợp, liên tục cải tiến để giúp hoạt động của nhà máy ngày càng hiệu quả hơn.
          </li>
          <li>
            Bên cạnh đó, trong quá trình hợp tác, chúng tôi cũng có khả năng tư vấn cho khách hàng cải tiến quy trình để đạt hiệu quả và tiết kiệm.
          </li>
        </ul>
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="col-12 mt-8 text-center bi above-h2 bi-universal-access-circle" viewBox="0 0 16 16" aria-hidden="true">
      <path d="M8 4.143A1.071 1.071 0 1 0 8 2a1.071 1.071 0 0 0 0 2.143m-4.668 1.47 3.24.316v2.5l-.323 4.585A.383.383 0 0 0 7 13.14l.826-4.017c.045-.18.301-.18.346 0L9 13.139a.383.383 0 0 0 .752-.125L9.43 8.43v-2.5l3.239-.316a.38.38 0 0 0-.047-.756H3.379a.38.38 0 0 0-.047.756Z"/>
      <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8"/>
    </svg>
    <h2 class="col-lg-8 mx-auto mt-1 mb-0 text-center">
      Rất dễ sử dụng!
    </h2>
    <hr aria-hidden="true" />
    <p class="col-lg-8 mx-auto text-center">
      Chúng tôi luôn hướng đến cách vận hành phần mềm đơn giản nhất, cần ít thao tác nhất để người công nhân đứng máy, nhân viên văn phòng dù không có kiến thức tin học cơ bản vẫn có thể sử dụng được một cách dễ dàng.
    </p>
  </div>
</section>