<section id="introduction">
  <div class="container">
    <h2 class="col-lg-8 mx-auto mb-0 text-center">
      Giới&nbsp;thiệu phần&nbsp;mềm quản&nbsp;lý quy&nbsp;trình&nbsp;dệt&nbsp;may
      của Alpha&nbsp;Software
    </h2>
    <hr class="above-icons" aria-hidden="true" />
    <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-1 justify-content-center">
      <div class="col service-box">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
        </svg>
        <h3 class="h4 mt--2 h4-adjust-mb">
          Lập&nbsp;kế&nbsp;hoạch sản&nbsp;xuất trực&nbsp;quan
        </h3>
        <ul class="spaced-items">
          <li>
            Thao&nbsp;tác lập&nbsp;kế&nbsp;hoạch, điều&nbsp;chỉnh kế&nbsp;hoạch được thực&nbsp;hiện một&nbsp;cách dễ&nbsp;dàng nhanh&nbsp;chóng bằng&nbsp;cách kéo-thả.
          </li>
          <li>
            Khi có sự điều&nbsp;chỉnh kế&nbsp;hoạch của một&nbsp;mẻ&nbsp;hàng, toàn&nbsp;bộ bảng kế&nbsp;hoạch sẽ được tự&nbsp;động điều&nbsp;chỉnh theo. Điều&nbsp;này giúp bảng kế&nbsp;hoạch có sự đồng&nbsp;bộ tuyệt&nbsp;đối.
          </li>
          <li>
            Bảng triển&nbsp;khai kế&nbsp;hoạch tại nơi sản&nbsp;xuất thể&nbsp;hiện trực&nbsp;quan và kiểm&nbsp;soát việc tuân&nbsp;thủ trình&nbsp;tự đã được lập.
          </li>
        </ul>
      </div>
      <div class="col service-box">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z"/>
        </svg>
        <h3 class="h4 mt--2 h4-adjust-mb">
          Quản&nbsp;lý công&nbsp;nghệ thông&nbsp;minh
        </h3>
        <ul class="spaced-items">
          <li>
            Có công&nbsp;cụ để người kỹ&nbsp;thuật&nbsp;trưởng lưu&nbsp;trữ tri&nbsp;thức công&nbsp;nghệ của công&nbsp;ty vào phần&nbsp;mềm.
          </li>
          <li>
            Phần&nbsp;mềm sẽ tìm&nbsp;kiếm chính&nbsp;xác công&nbsp;nghệ áp&nbsp;dụng cho mẻ&nbsp;hàng thông&nbsp;qua chỉ một&nbsp;cú click&nbsp;chuột. Điều&nbsp;này không&nbsp;những giúp công&nbsp;ty giảm&nbsp;được quy&nbsp;mô nhân&nbsp;sự có trình&nbsp;độ kỹ&nbsp;thuật cao mà&nbsp;còn giúp tất&nbsp;cả các mẻ&nbsp;hàng được xử&nbsp;lý với công&nbsp;nghệ đồng&nbsp;nhất, từ&nbsp;đó ổn&nbsp;định chất&nbsp;lượng.
          </li>
        </ul>
      </div>
      <div class="col service-box">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-hdd-network-fill" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h5.5v3A1.5 1.5 0 0 0 6 11.5H.5a.5.5 0 0 0 0 1H6A1.5 1.5 0 0 0 7.5 14h1a1.5 1.5 0 0 0 1.5-1.5h5.5a.5.5 0 0 0 0-1H10A1.5 1.5 0 0 0 8.5 10V7H14a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1"/>
        </svg>
        <h3 class="h4 mt--2">
          Kết&nbsp;nối với các thiết&nbsp;bị&nbsp;sản&nbsp;xuất và thiết&nbsp;bị&nbsp;phòng&nbsp;lab
        </h3>
        <ul class="spaced-items">
          <li>
            Với các thiết&nbsp;bị vận&nbsp;hành tự&nbsp;động nhưng&nbsp;độc&nbsp;lập, chúng&nbsp;tôi có&nbsp;thể giúp kết&nbsp;nối vào hệ&nbsp;thống phần&nbsp;mềm để hình&nbsp;thành một hệ&nbsp;thống&nbsp;nhất.
          </li>
          <li>
            Chúng&nbsp;tôi cũng có&nbsp;thể giúp cải&nbsp;tạo các thiết&nbsp;bị đang vận&nbsp;hành bằng&nbsp;tay thông&nbsp;qua công&nbsp;tắc và nút&nbsp;nhấn thành điều&nbsp;kiển tự&nbsp;động theo quy&nbsp;trình và kết&nbsp;nối với hệ&nbsp;thống phần&nbsp;mềm.
          </li>
        </ul>
      </div>
      <div class="col service-box">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16" aria-hidden="true">
          <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11z"/>
        </svg>
        <h3 class="h4 mt--2 h4-adjust-mb">
          Tuỳ&nbsp;chỉnh phù&nbsp;hợp cho mỗi nhà&nbsp;máy
        </h3>
        <ul class="spaced-items">
          <li>
            Hiểu&nbsp;rằng mỗi nhà&nbsp;máy có hệ&nbsp;thống quản&nbsp;lý khác&nbsp;nhau, chúng&nbsp;tôi luôn khảo&nbsp;sát kỹ&nbsp;càng để thiết&nbsp;kế và triển&nbsp;khai cho phù&nbsp;hợp, liên&nbsp;tục cải&nbsp;tiến để giúp hoạt&nbsp;động của nhà&nbsp;máy ngày&nbsp;càng hiệu&nbsp;quả hơn.
          </li>
          <li>
            Bên&nbsp;cạnh&nbsp;đó, trong quá&nbsp;trình hợp&nbsp;tác, chúng&nbsp;tôi cũng có khả&nbsp;năng tư&nbsp;vấn cho khách&nbsp;hàng cải&nbsp;tiến quy&nbsp;trình để đạt hiệu&nbsp;quả và tiết&nbsp;kiệm.
          </li>
        </ul>
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="col-12 mt-8 text-center bi above-h2 bi-universal-access-circle" viewBox="0 0 16 16" aria-hidden="true">
      <path d="M8 4.143A1.071 1.071 0 1 0 8 2a1.071 1.071 0 0 0 0 2.143m-4.668 1.47 3.24.316v2.5l-.323 4.585A.383.383 0 0 0 7 13.14l.826-4.017c.045-.18.301-.18.346 0L9 13.139a.383.383 0 0 0 .752-.125L9.43 8.43v-2.5l3.239-.316a.38.38 0 0 0-.047-.756H3.379a.38.38 0 0 0-.047.756Z"/>
      <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8"/>
    </svg>
    <h3 class="h2 col-lg-8 mx-auto mt-1 mb-0 text-center">
      Rất dễ&nbsp;sử&nbsp;dụng!
    </h2>
    <hr aria-hidden="true" />
    <p class="col-lg-8 mx-auto text-center">
      Chúng&nbsp;tôi luôn hướng&nbsp;đến cách vận&nbsp;hành phần&nbsp;mềm đơn&nbsp;giản nhất, cần ít thao&nbsp;tác nhất để người công&nbsp;nhân đứng&nbsp;máy, nhân&nbsp;viên văn&nbsp;phòng dù không có kiến&nbsp;thức tin&nbsp;học cơ&nbsp;bản vẫn có&nbsp;thể sử&nbsp;dụng được một&nbsp;cách dễ&nbsp;dàng.
    </p>
  </div>
</section>