<section class="pb-0" id="{{ t.toc_projects_id }}">
  <div class="container">
    <div
      class="heading-number mb-4"
      data-number="04"
      data-squircle-radius
      role="presentation"
    ></div>
    <h2 class="mt-0">{{ t.projects_title }}</h2>
    <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 mt-12">
      <div class="col service-box">
        <div class="card partner-logo-card">
          <img
            alt="{{ t.project_tuan_hong_company_name }}"
            class="partner-logo"
            height="149"
            loading="lazy"
            src="{{ site.url }}/img/partner-logos/logo-tuan-hong.png"
            srcset="
              {{ site.url }}/img/partner-logos/logo-tuan-hong.png    1x,
              {{ site.url }}/img/partner-logos/logo-tuan-hong-2x.png 2x
            "
            width="158"
          />
          <a
            aria-hidden="true"
            class="stretched-link"
            href="https://tuanhonggroup.com"
            rel="nofollow noopener external"
            tabindex="-1"
            target="_blank"
          >Tuấn&nbsp;Hồng Group</a>
        </div>
        <div>
          <h3 class="h4 mt-4">
            <span class="h5 text-tertiary">2022</span>
            <span class="visually-hidden">—</span>
            {{ t.project_tuan_hong_short_name }}
          </h3>
          <a
            href="https://tuanhonggroup.com"
            rel="nofollow noopener external"
            target="_blank"
          >https://tuanhonggroup.com</a>
          {% include icon-external-link.html %}
        </div>
        {{ t.project_tuan_hong_components }}
      </div>

      <div class="col service-box">
        <div class="card partner-logo-card">
          <img
            alt="{{ t.project_dung_dong_company_name }}"
            class="partner-logo"
            height="92"
            loading="lazy"
            src="{{ site.url }}/img/partner-logos/logo-dung-dong.png"
            srcset="
              {{ site.url }}/img/partner-logos/logo-dung-dong.png    1x,
              {{ site.url }}/img/partner-logos/logo-dung-dong-2x.png 2x
            "
            width="293"
          />
          <a
            aria-hidden="true"
            class="stretched-link"
            href="https://chimay.vn"
            rel="nofollow noopener external"
            tabindex="-1"
            target="_blank"
          >Chỉ may Dũng&nbsp;Đông – Thêu màu cuộc sống</a>
        </div>
        <div>
          <h3 class="h4 mt-4">
            <span class="h5 text-tertiary">2023</span>
            <span class="visually-hidden">—</span>
            {{ t.project_dung_dong_short_name }}
          </h3>
          <a
            href="https://chimay.vn"
            rel="nofollow noopener external"
            target="_blank"
          >https://chimay.vn</a>
          {% include icon-external-link.html %}
        </div>
        {{ t.project_dung_dong_components }}
      </div>

      <div class="col service-box">
        <div
          class="card partner-logo-card"
          data-squircle-radius
          id="spica-card"
        >
          <img
            alt="{{ t.project_spica_company_name }}"
            class="partner-logo"
            height="93"
            loading="lazy"
            src="{{ site.url }}/img/partner-logos/logo-spica.png"
            srcset="
              {{ site.url }}/img/partner-logos/logo-spica.png    1x,
              {{ site.url }}/img/partner-logos/logo-spica-2x.png 2x
            "
            width="293"
          />
          <a
            aria-hidden="true"
            class="stretched-link"
            href="https://spica-group.com"
            rel="nofollow noopener external"
            tabindex="-1"
            target="_blank"
          >Spica</a>
        </div>
        <div>
          <h3 class="h4 mt-4">
            <span class="h5 text-tertiary">2024</span>
            <span class="visually-hidden">—</span>
            {{ t.project_spica_short_name }}
          </h3>
          <a
            href="https://spica-group.com"
            rel="nofollow noopener external"
            target="_blank"
          >https://spica-group.com</a>
          {% include icon-external-link.html %}
        </div>
        {{ t.project_spica_components }}
      </div>
    </div>
  </div>
</section>
