<section id="{{ t.toc_reviews_id }}">
  <div class="container">
    <div
      class="heading-number mb-4"
      data-number="05"
      data-squircle-radius
      role="presentation"
    ></div>
    <h2 class="mt-0">{{ t.reviews_title }}</h2>

    <!-- Aggregate Rating for the Organization -->
    <div
      itemprop="aggregateRating"
      itemscope
      itemtype="https://schema.org/AggregateRating"
    >
      <meta content="5" itemprop="ratingValue" />
      <meta content="5" itemprop="bestRating" />
      <meta content="1" itemprop="worstRating" />
      <meta content="2" itemprop="reviewCount" />
    </div>

    <div class="row row-cols-xl-2 row-cols-md-2 row-cols-1 mt-12">
      <div
        class="col service-box"
        itemprop="review"
        itemscope
        itemtype="https://schema.org/Review"
      >
        <meta content="2025-04-28" itemprop="datePublished" />

        <div
          itemprop="reviewRating"
          itemscope
          itemtype="https://schema.org/Rating"
        >
          <meta content="5" itemprop="ratingValue" />
          <meta content="5" itemprop="bestRating" />
          <meta content="1" itemprop="worstRating" />
        </div>

        <img
          alt="{{ t.female_title }} Nguyễn Thị Nga"
          class="client-portrait"
          data-squircle-radius
          height="336"
          itemprop="image"
          loading="lazy"
          src="{{ site.url }}/img/portraits/chan-dung-ba-nguyen-thi-nga.webp"
          srcset="
            {{ site.url }}/img/portraits/chan-dung-ba-nguyen-thi-nga.webp    1x,
            {{ site.url }}/img/portraits/chan-dung-ba-nguyen-thi-nga-2x.webp 2x
          "
          width="224"
        />
        <figure class="mt-4 mb-0 w-100">
          <blockquote class="blockquote" itemprop="reviewBody">
            {{ t.review_nguyen_thi_nga_body }}
          </blockquote>
          <figcaption
            class="blockquote-footer"
            itemprop="author"
            itemscope
            itemtype="https://schema.org/Person"
          >
            {{ t.female_title }} <span itemprop="name">Nguyễn Thị Nga</span>,
            <span itemprop="jobTitle">{{ t.reviewer_1_job_title }}</span>
            {{ t.of }}
            <span
              itemprop="worksFor"
              itemscope
              itemtype="https://schema.org/Organization"
            ><span itemprop="name">{{ t.project_spica_company_name }}</span></span>
          </figcaption>
        </figure>
        {{ t.translated_review_disclaimer }}
      </div>

      <div
        class="col service-box"
        itemprop="review"
        itemscope
        itemtype="https://schema.org/Review"
      >
        <meta content="2024-10-17" itemprop="datePublished" />

        <div
          itemprop="reviewRating"
          itemscope
          itemtype="https://schema.org/Rating"
        >
          <meta content="5" itemprop="ratingValue" />
          <meta content="5" itemprop="bestRating" />
          <meta content="1" itemprop="worstRating" />
        </div>

        <img
          alt="{{ t.male_title }} Đinh Văn Hiệp"
          class="client-portrait"
          data-squircle-radius
          height="336"
          itemprop="image"
          loading="lazy"
          src="{{ site.url }}/img/portraits/chan-dung-ong-dinh-van-hiep.webp"
          srcset="
            {{ site.url }}/img/portraits/chan-dung-ong-dinh-van-hiep.webp    1x,
            {{ site.url }}/img/portraits/chan-dung-ong-dinh-van-hiep-2x.webp 2x
          "
          width="224"
        />
        <figure class="mt-4 mb-0 w-100">
          <blockquote class="blockquote" itemprop="reviewBody">
            {{ t.review_dinh_van_hiep_body }}
          </blockquote>
          <figcaption
            class="blockquote-footer"
            itemprop="author"
            itemscope
            itemtype="https://schema.org/Person"
          >
            {{ t.male_title }} <span itemprop="name">Đinh Văn Hiệp</span>,
            <span itemprop="jobTitle">{{ t.reviewer_2_job_title }}</span>
            {{ t.of }}
            <span
              itemprop="worksFor"
              itemscope
              itemtype="https://schema.org/Organization"
            ><span itemprop="name">{{ t.project_tuan_hong_company_name }}</span></span>
          </figcaption>
        </figure>
        {{ t.translated_review_disclaimer }}
      </div>
    </div>
  </div>
</section>
