<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Lợi&nbsp;ích nhận&nbsp;được khi sử&nbsp;dụng phần&nbsp;mềm của Alpha&nbsp;Software</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Tăng tốc độ sản xuất lên đến 50%</h3>
                    <p class="text-muted">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Tăng chất lượng sản phẩm</h3>
                    <p class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Giảm chi&nbsp;phí nhân lực</h3>
                    <p class="text-muted">Những việc cần huy động nhiều nhân lực nay chỉ cần một người. Nhờ vào tính tự động hoá của phần mềm của Alpha Software.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Giảm rủi ro</h3>
                    <p class="text-muted">Phần mềm của Alpha Software giúp làm giảm tỉ lệ sai sót. Từ đó dẫn đến nhiều sản lượng đầu ra hơn trên cùng một lượng nguyên liệu bỏ vào.</p>
                </div>
            </div>
        </div>
    </div>
</section>
