<section id="testimonials">
  <div class="container">
    <h2 class="col-lg-8 mx-auto mb-0 text-center">
        Được tin&nbsp;tưởng bởi các doanh&nbsp;nghiệp tầm&nbsp;lớn
    </h2>
    <hr class="above-icons" aria-hidden="true" />
    <div class="row row-cols-xl-3 row-cols-1 gx-5 justify-content-center">
      <div class="col service-box">
        <i class="fa-solid fa-diamond fa-2x"></i>
        <h3 class="h4 mb-1 mt-3">Tuấn Hồng</h3>
        <p>
          Temporibus autem quibusdam et aut officiis debitis aut rerum
          necessitatibus saepe eveniet ut et voluptates repudiandae sint et
          molestiae non recusandae.
        </p>
      </div>
      <div class="col service-box">
        <i
          class="fa-solid fa-diamond fa-2x"
        ></i>
        <h3 class="h4 mb-1 mt-3">Dũng Đông</h3>
        <p>
          Donec congue maximus tincidunt. Morbi dictum auctor turpis quis
          finibus. Vivamus id diam ut diam pellentesque gravida.
        </p>
      </div>
      <div class="col service-box">
        <i
          class="fa-solid fa-diamond fa-2x"
        ></i>
        <h3 class="h4 mb-1 mt-3">Spica</h3>
        <p>
          Nulla ut hendrerit eros. Phasellus eu pretium nisl. Pellentesque
          auctor, lectus eu vulputate fermentum.
        </p>
      </div>
    </div>
  </div>
</section>
