<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 text-center">
        <h2 class="section-heading">
            Được tin&nbsp;tưởng bởi các doanh&nbsp;nghiệp uy&nbsp;tín
        </h2>
        <hr class="bg-primary" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-6 text-center">
        <div class="service-box" tabindex="0">
          <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
          <h3>Tu&#x1EA5;n H&#x1ED3;ng</h3>
          <p>
            Temporibus autem quibusdam et aut officiis debitis aut rerum
            necessitatibus saepe eveniet ut et voluptates repudiandae sint et
            molestiae non recusandae.
          </p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 text-center">
        <div class="service-box" tabindex="0">
          <i
            class="fa fa-4x fa-paper-plane wow bounceIn text-primary"
            data-wow-delay=".1s"
          ></i>
          <h3>D&#x169;ng &#x110;&#xF4;ng</h3>
          <p>
            Donec congue maximus tincidunt. Morbi dictum auctor turpis quis
            finibus. Vivamus id diam ut diam pellentesque gravida.
          </p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 text-center">
        <div class="service-box" tabindex="0">
          <i
            class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"
            data-wow-delay=".2s"
          ></i>
          <h3>Spica</h3>
          <p>
            Nulla ut hendrerit eros. Phasellus eu pretium nisl. Pellentesque
            auctor, lectus eu vulputate fermentum.
          </p>
        </div>
      </div>
      <!-- <div class="col-xl-3 col-lg-6 text-center">

                <div class="service-box">

                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>

                    <h3>Giảm rủi ro</h3>

                    <p>Phần mềm của Alpha Software giúp làm giảm tỉ lệ sai sót. Từ đó dẫn đến nhiều sản lượng đầu ra hơn trên cùng một lượng nguyên liệu bỏ vào.</p>

                </div>

            </div> -->
    </div>
  </div>
</section>
