<section id="testimonials">
  <div class="container">
    <h2 class="col-lg-8 mx-auto mb-0 text-center">
      Cảm&nbsp;nhận khách&nbsp;hàng khi làm&nbsp;việc cùng Alpha&nbsp;Software
    </h2>
    <hr class="above-img" aria-hidden="true" />
    <div class="row row-cols-xl-3 row-cols-1 justify-content-center">
      <div class="col service-box">
        <img src="img\client-portraits\portrait-mr-dinh-van-hiep.jpg" alt="Chân&nbsp;dung của ông Đinh&nbsp;Văn&nbsp;Hiệp" class="client-portrait" />
        <figure>
          <blockquote class="blockquote">
            <p>“Phần&nbsp;mềm Alpha&nbsp;Software hỗ&nbsp;trợ rất tốt cho công&nbsp;ty, nhất&nbsp;là công&nbsp;ty sản&nbsp;xuất nhiều công&nbsp;đoạn. Hơn&nbsp;nữa, Alpha thì có lợi&nbsp;thế hơn những phần&nbsp;mềm quản&nbsp;lý khác do có&nbsp;thể tuỳ&nbsp;biến linh&nbsp;hoạt và chi&nbsp;tiết theo yêu&nbsp;cầu của người sử&nbsp;dụng; mọi thông&nbsp;số đều rất rõ&nbsp;ràng và chi&nbsp;tiết.”</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Ông Đinh&nbsp;Văn&nbsp;Hiệp, Trợ&nbsp;lý Giám&nbsp;Đốc<br/>Công&nbsp;ty TNHH Chỉ&nbsp;may Tuấn&nbsp;Hồng
          </figcaption>
        </figure>
      </div>
      <div class="col service-box">
        <img src="img\client-portraits\portrait-mr-dinh-van-hiep.jpg" alt="Chân&nbsp;dung của ông Đinh&nbsp;Văn&nbsp;Hiệp" class="client-portrait" />
        <figure>
          <blockquote class="blockquote">
            <p>“Phần&nbsp;mềm Alpha&nbsp;Software hỗ&nbsp;trợ rất tốt cho công&nbsp;ty, nhất&nbsp;là công&nbsp;ty sản&nbsp;xuất nhiều công&nbsp;đoạn. Hơn&nbsp;nữa, Alpha thì có lợi&nbsp;thế hơn những phần&nbsp;mềm quản&nbsp;lý khác do có&nbsp;thể tuỳ&nbsp;biến linh&nbsp;hoạt và chi&nbsp;tiết theo yêu&nbsp;cầu của người sử&nbsp;dụng; mọi thông&nbsp;số đều rất rõ&nbsp;ràng và chi&nbsp;tiết.”</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Ông Đinh&nbsp;Văn&nbsp;Hiệp, Trợ&nbsp;lý Giám&nbsp;Đốc<br/>Công&nbsp;ty TNHH Chỉ&nbsp;may Tuấn&nbsp;Hồng
          </figcaption>
        </figure>
      </div><div class="col service-box">
        <img src="img\client-portraits\portrait-mr-dinh-van-hiep.jpg" alt="Chân&nbsp;dung của ông Đinh&nbsp;Văn&nbsp;Hiệp" class="client-portrait" />
        <figure>
          <blockquote class="blockquote">
            <p>“Phần&nbsp;mềm Alpha&nbsp;Software hỗ&nbsp;trợ rất tốt cho công&nbsp;ty, nhất&nbsp;là công&nbsp;ty sản&nbsp;xuất nhiều công&nbsp;đoạn. Hơn&nbsp;nữa, Alpha thì có lợi&nbsp;thế hơn những phần&nbsp;mềm quản&nbsp;lý khác do có&nbsp;thể tuỳ&nbsp;biến linh&nbsp;hoạt và chi&nbsp;tiết theo yêu&nbsp;cầu của người sử&nbsp;dụng; mọi thông&nbsp;số đều rất rõ&nbsp;ràng và chi&nbsp;tiết.”</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Ông Đinh&nbsp;Văn&nbsp;Hiệp, Trợ&nbsp;lý Giám&nbsp;Đốc<br/>Công&nbsp;ty TNHH Chỉ&nbsp;may Tuấn&nbsp;Hồng
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>