<header id="trang-bia">
  <div class="container header-content">
    <h1 itemprop="slogan">Chuyển đổi số<wbr /> nhà&nbsp;máy dệt&nbsp;may</h1>
    <p class="big">
      Alpha&nbsp;Software cách mạng hoá quản lý sản xuất dệt may qua việc phát
      triển phần mềm quản lý quy trình công nghệ một cách khoa học, thiết lập và
      triển khai kế hoạch sản xuất một cách trực quan, kết nối với các thiết bị
      sản xuất để tăng cường tự động hoá giúp nhà máy cải thiện chất lượng, tăng
      sản lượng và rút ngắn thời gian giao hàng.
    </p>
    <a
      href="#gioi-thieu"
      role="button"
      class="btn-primary btn-xl mt-4 mb-24"
      aria-label="Tìm hiểu thêm về Alpha Software"
      >Tìm hiểu thêm</a
    >
  </div>
</header>
