html,
body {
    height: 100%;
    width: 100%;
}

html {
    text-wrap: pretty;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@include media-breakpoint-up(md) {
    html {
        text-wrap: balance;
    }
}

:root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
        -0.5px 0.7px 1px hsl(var(--shadow-color) / 0.09),
        -0.8px 1.1px 1.5px -1.2px hsl(var(--shadow-color) / 0.09),
        -1.9px 2.4px 3.4px -2.5px hsl(var(--shadow-color) / 0.09);
    --shadow-elevation-medium:
        -0.5px 0.7px 1px hsl(var(--shadow-color) / 0.07),
        -1.3px 1.7px 2.4px -0.6px hsl(var(--shadow-color) / 0.07),
        -2.4px 3.2px 4.5px -1.2px hsl(var(--shadow-color) / 0.07),
        -4.8px 6.4px 9px -1.9px hsl(var(--shadow-color) / 0.07),
        -9.3px 12.2px 17.3px -2.5px hsl(var(--shadow-color) / 0.07);
    --shadow-elevation-high:
        -0.5px 0.7px 1px hsl(var(--shadow-color) / 0.08),
        -2.3px 3.1px 4.3px -0.3px hsl(var(--shadow-color) / 0.08),
        -4.1px 5.4px 7.6px -0.6px hsl(var(--shadow-color) / 0.08),
        -6.4px 8.5px 12px -0.9px hsl(var(--shadow-color) / 0.08),
        -9.7px 12.8px 18.1px -1.2px hsl(var(--shadow-color) / 0.08),
        -14.5px 19.1px 27px -1.6px hsl(var(--shadow-color) / 0.08),
        -21.2px 28px 39.5px -1.9px hsl(var(--shadow-color) / 0.08),
        -30.4px 40.2px 56.7px -2.2px hsl(var(--shadow-color) / 0.08),
        -42.6px 56.3px 79.4px -2.5px hsl(var(--shadow-color) / 0.08);

    --shadow-color-fill-primary: 6deg 71% 29%;
    --shadow-elevation-low-fill-primary:
        -0.5px 0.7px 1px hsl(var(--shadow-color-fill-primary) / 0.29),
        -0.8px 1.1px 1.5px -1.2px hsl(var(--shadow-color-fill-primary) / 0.29),
        -1.9px 2.4px 3.4px -2.5px hsl(var(--shadow-color-fill-primary) / 0.29);
    --shadow-elevation-medium-fill-primary:
        -0.5px 0.7px 1px hsl(var(--shadow-color-fill-primary) / 0.24),
        -1.3px 1.7px 2.4px -0.6px hsl(var(--shadow-color-fill-primary) / 0.24),
        -2.4px 3.2px 4.5px -1.2px hsl(var(--shadow-color-fill-primary) / 0.24),
        -4.8px 6.4px 9px -1.9px hsl(var(--shadow-color-fill-primary) / 0.24),
        -9.3px 12.2px 17.3px -2.5px hsl(var(--shadow-color-fill-primary) / 0.24);
    --shadow-elevation-high-fill-primary:
        -0.5px 0.7px 1px hsl(var(--shadow-color-fill-primary) / 0.25),
        -2.3px 3.1px 4.3px -0.3px hsl(var(--shadow-color-fill-primary) / 0.25),
        -4.1px 5.4px 7.6px -0.6px hsl(var(--shadow-color-fill-primary) / 0.25),
        -6.4px 8.5px 12px -0.9px hsl(var(--shadow-color-fill-primary) / 0.25),
        -9.7px 12.8px 18.1px -1.2px hsl(var(--shadow-color-fill-primary) / 0.25),
        -14.5px 19.1px 27px -1.6px hsl(var(--shadow-color-fill-primary) / 0.25),
        -21.2px 28px 39.5px -1.9px hsl(var(--shadow-color-fill-primary) / 0.25),
        -30.4px 40.2px 56.7px -2.2px hsl(var(--shadow-color-fill-primary) / 0.25),
        -42.6px 56.3px 79.4px -2.5px hsl(var(--shadow-color-fill-primary) / 0.25);
}

img {
    border-radius: $border-radius;
}

.noselect,
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {

    .bg-dark &,
    .bg-secondary & {
        color: $text-dark;
    }
}

hr {
    width: map-get($spacers, 8);
    margin-left: auto;
    margin-right: auto;

    &.above-icons {
        margin-bottom: $h4-font-size;
    }
}

hr,
.fa-4x {
    color: $primary;

    .bg-primary & {
        color: $text-dark;
    }

    .bg-dark & {
        color: $primary-dark;
    }

    .bg-light & {
        color: $secondary;
    }
}

a {
    font-weight: 500;

    &:focus-visible {
        color: $link-hover-color;
        box-shadow: $focus-ring-box-shadow;
        outline: none;
    }
}

section.bg-primary {
    background-color: $fill-primary !important;
    color: $text-dark;
}

section.bg-dark,
section.bg-secondary {
    color: $text-dark;
}

.text-faded {
    color: $gray-100;
}

section {
    padding: map-get($spacers, 10) 0;
}

footer {
    address {
        margin-bottom: map-get($spacers, 7);
    }
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation
.navbar {
    --logo-height: #{map-get($scales, 3)};
    --navbar-height: #{map-get($spacers, 7)};
    height: var(--navbar-height);
    background-color: $white;
    box-shadow: var(--shadow-elevation-low);

    .navbar-logo {
        top: calc((var(--navbar-height) - var(--logo-height)) / 2);
        height: var(--logo-height);
        aspect-ratio: 304/86;
        position: absolute;
        border-radius: 0;
    }

    .navbar-brand:focus-visible {
        box-shadow: none;
    }

    .logo-white {
        color: $text-dark;
        opacity: 0;
    }

    .logo-color {
        color: $text;
    }

    @include media-breakpoint-up(md) {
        will-change: color, background-color, opacity, box-shadow;

        &:not(.nav-active) {
            background-color: transparent;
            box-shadow: none;

            .logo-white {
                opacity: 1;
            }

            .logo-color {
                opacity: 0;
            }

            .nav-item .nav-link {

                &:not(.active):focus:not(:focus-visible),
                .active:focus:not(:focus-visible) {
                    color: $navbar-dark-color;
                }

                &:not(.active):hover,
                &:not(.active):hover:active {
                    color: $navbar-dark-hover-color;
                }
            }
        }

        &.nav-active {
            background-color: $background;
            box-shadow: var(--shadow-elevation-low);

            transition: color .36s ease-in-out, background-color .36s ease-in-out, opacity .36s ease-in-out;


            .logo-white {
                opacity: 0;
            }

            .logo-color {
                opacity: 1;
            }

            .nav-link {

                &:not(.active):focus:not(:focus-visible),
                .active:focus:not(:focus-visible) {
                    color: currentColor;
                }

                &:not(.active):hover,
                &:not(.active):hover:active {
                    color: $navbar-light-hover-color;
                }
            }
        }
    }
}

// Homepage Header
header {
    position: relative;
    min-height: 100vh;
    height: fit-content;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../img/hero.webp');
    color: $text-dark;

    .header-content {
        position: relative;
        padding: 100px 17px;
        width: 100%;

        @include media-breakpoint-up(md) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 50px;

            .header-content-inner {
                margin-left: auto;
                margin-right: auto;

                p {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections
.portfolio-box {
    position: relative;
    display: block;
    margin: 0 auto;

    img {
        border-radius: 0;
        aspect-ratio: 13 / 7;
    }

    .portfolio-box-caption {
        color: $text-dark;
        opacity: 0;
        display: block;
        background: rgba($primary, .9);
        position: absolute;
        bottom: 0;

        transition: opacity .36s ease-in-out;
        will-change: opacity;

        .portfolio-box-caption-content {
            width: 100%;
            position: absolute;
            transform: translateY(-100%);
            padding-bottom: map-get($spacers, -1);

            .project-category,
            .project-name {
                padding: 0 17px;
            }

            .project-category {
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }

    &:hover,
    &:focus-visible {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
}

// Bootstrap Overrides
.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

// Button Styles
@mixin button-variant($color, $background) {
    $btn-padding-vertical: 18px;
    $btn-padding-horizontal: 31px;
    color: $color;
    background-color: $background;
    box-sizing: content-box;
    border: none;
}

.btn-secondary {
    @include button-variant($text, $white);
    box-shadow: var(--shadow-elevation-low-fill-primary);

    &:hover,
    &:focus-visible,
    &:hover:active {
        color: $text-dark;
        background-color: $dark;
    }

    &:focus:not(:focus-visible) {
        color: $text;
        background-color: $white;
    }
}

.btn-primary {
    @include button-variant($text-dark, $fill-primary);

    &:hover,
    &:focus-visible,
    &:hover:active {
        color: $text-dark;
        background-color: $fill-accent;
    }

    &:focus:not(:focus-visible) {
        background-color: $fill-primary;
        color: $text-dark;
    }
}

.btn-xl {
    margin-top: map-get($spacers, 5) - $paragraph-margin-bottom;
    margin-bottom: map-get($spacers, 5);
}

.fa-4x {
    height: 2.628 * $h4-font-size;
    margin-top: map-get($spacers, 3); // Compensate for header's line height
    margin-left: 0.08rem; // Perfectly aligns icons to the text
}