html, body {
    height: 100%;
    width: 100%;
}

html {
    text-wrap: pretty;
}

@include media-breakpoint-up(md) {
    html {
        text-wrap: balance;
    }
}

img {
    border-radius: $border-radius;
}

.noselect, img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    .bg-dark &, .bg-secondary & {
        color: $text-dark;
    }
}

hr {
    width: map-get($spacers, 8);
    margin-left: auto;
    margin-right: auto;
    &.above-icons {
        margin-bottom: $h4-font-size;
    }
}

hr, .fa-4x {
    color: $primary;
    .bg-primary & {
        color: $text-dark;
    }
    .bg-dark & {
        color: $primary-dark;
    }
    .bg-light & {
        color: $secondary;
    }
}

a {
    font-weight: 500;
    &:focus-visible {
        color: $link-hover-color;
        box-shadow: $focus-ring-box-shadow;
        outline: none;
    }
}

section.bg-primary {
    background-color: $fill-primary !important;
    color: $text-dark;
}

section.bg-dark, section.bg-secondary {
    color: $text-dark;
}

.text-faded {
    color: $gray-100;
}

section {
    padding: map-get($spacers, 10) 0;
}

footer {
    address {
        margin-bottom: map-get($spacers, 7);
    }
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation
.navbar {
    --logo-height: #{map-get($scales, 3)};
    --navbar-height: #{map-get($spacers, 7)};
    height: var(--navbar-height);
    background-color: $white;
    border-bottom: 1px solid $border-color;

    .navbar-logo {
        top: calc((var(--navbar-height) - var(--logo-height)) / 2);
        height: var(--logo-height);
        position: absolute;
        border-radius: 0;
    }

    .navbar-brand:focus-visible {
        box-shadow: none;
    }

    .logo-white {
        color: $text-dark;
        opacity: 0;
    }

    .logo-color {
        color: $text;
    }

    @include media-breakpoint-up(md) {
        &:not(.nav-active) {
            background-color: transparent;
            border-color: transparent;

            .logo-white {
                opacity: 1;
            }

            .logo-color {
                opacity: 0;
            }

            .nav-item .nav-link {
                &:not(.active):focus:not(:focus-visible),
                .active:focus:not(:focus-visible) {
                    color: $navbar-dark-color;
                }

                &:not(.active):hover, &:not(.active):hover:active {
                    color: $navbar-dark-hover-color;
                }
            }
        }
        
        &.nav-active {
            background-color: $background;
            border-color: $border-color;

            transition: color .36s ease-in-out, background-color .36s ease-in-out, opacity .36s ease-in-out, border-color .36s ease-in-out;
            will-change: color, background-color, opacity, border-color;


            .logo-white {
                opacity: 0;
            }

            .logo-color {
                opacity: 1;
            }

            .nav-link {
                &:not(.active):focus:not(:focus-visible),
                .active:focus:not(:focus-visible) {
                    color: currentColor;
                }

                &:not(.active):hover, &:not(.active):hover:active {
                    color: $navbar-light-hover-color;
                }
            }
        }
    }
}

// Homepage Header
header {
    position: relative;
    min-height: 100vh;
    height: fit-content;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../img/partnership.webp');
    text-align: center;
    color: $text-dark;

    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 17px;
        width: 100%;

        @include media-breakpoint-up(md) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 50px;

            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;

                p {
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections
.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;

    img {
        border-radius: 0;
    }

    .portfolio-box-caption {
        color: $text-dark;
        opacity: 0;
        display: block;
        background: rgba($primary, .9);
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;

        transition: opacity .36s ease-in-out;
        will-change: opacity;

        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            .project-category, .project-name {
                padding: 0 17px;
            }

            .project-category {
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }

    &:hover, &:focus-visible {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
}

// Bootstrap Overrides
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

// Button Styles
@mixin button-variant($color, $background) {
    $btn-padding-vertical: 18px;
    $btn-padding-horizontal: 31px;
    color: $color;
    background-color: $background;
    box-sizing: content-box;
    border: none;
    box-shadow: none !important;
}

.btn-secondary {
    @include button-variant($text, $white);

    &:focus:not(:focus-visible) {
        color: $text;
        background-color: $white;
    }

    &:hover, &:focus-visible, &:hover:active {
        color: $text-dark;
        background-color: $dark;
    }
}

.btn-primary {
    @include button-variant($text-dark, $fill-primary);

    &:hover, &:focus-visible, &:hover:active {
        background-color: $fill-accent;
    }

    &:focus:not(:focus-visible) {
        background-color: $fill-accent;
        color: $text-dark;
    }

    .header-content-inner &, .bg-dark & {
        @include button-variant($text-dark, $fill-primary-dark);

        &:hover, &:focus-visible, &:hover:active {
            background-color: $fill-accent-dark;
        }

        &:focus:not(:focus-visible) {
            background-color: $fill-accent-dark;
        }
    }
}

.btn-xl {
    margin-top: map-get($spacers, 5) - $paragraph-margin-bottom;
    margin-bottom: map-get($spacers, 5);
}

.fa-4x {
    height: 2.628 * $h4-font-size;
    margin-top: map-get($spacers, 3); // Compensate for header's line height
    margin-left: 0.08rem; // Perfectly aligns icons to the text
}