@mixin transition-all() {
    -webkit-transition: all .36s ease-in-out;
    -moz-transition: all .36s ease-in-out;
    transition: all .36s ease-in-out;
}

@mixin parallax-bg() {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin sans-serif-font() {
    font-family: $headings-font-family;
}

@mixin serif-font() {
    font-family: 'Roboto', sans-serif;
}


html,
body {
    height: 100%;
    width: 100%;
    text-wrap: balance;
}

html {
    quotes: '“' '”';
    font-kerning: normal;
    font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
}

body {
    @include serif-font;
}

img {
    border-radius: 0.5rem;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}


abbr[title] {
    border-bottom: none !important;
    text-decoration: none !important;
    cursor: default;
}

.highlight-hero {
    --underline-height: 0.3rem;
    position: relative;
    transition: color .36s ease-in-out;

    will-change: color;

    &::before {
        // Highlight effect
        height: calc(100% + var(--underline-height));
        width: 100%;
        border-radius: 0.5rem; // Matches the icons' border radii

        background: $primary;
        content: '';
        bottom: calc(-1 * var(--underline-height));
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .36s ease-in-out;
        position: absolute;
        z-index: -1;

        will-change: transform, transform-origin;
    }

    &::after {
        // Underline
        content: '';
        bottom: calc(-1 * var(--underline-height));
        left: 0;
        background: $primary;
        width: 100%;
        height: var(--underline-height);
        position: absolute;
        z-index: -2;

        will-change: opacity;
    }

    &:hover,
    &:focus-visible {
        color: $text;

        will-change: color;

        &::before {
            transform: scaleX(1);
            transform-origin: left;

            will-change: transform, transform-origin;
        }

        &::after {
            opacity: 0;

            will-change: opacity;
        }
    }
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {

    .bg-dark &,
    .bg-secondary &,
    .header-content-inner & {
        color: $text-dark;
    }
}

h1,
.h1 {
    font-size: var(--scale-h1);
    line-height: 1.25;
}

h2,
.h2 {
    font-size: var(--scale-h2);
    line-height: 1.22;
}

h3,
.h3 {
    font-size: var(--scale-h3);
    line-height: 1.26;
}

h4,
.h4 {
    font-size: var(--scale-h4);
    line-height: 1.33;
}

h6,
.h6 {
    font-size: var(--scale-p);
    margin-bottom: 0;
}

p {
    font-size: var(--scale-p);
}

small,
.small {
    font-size: var(--scale-caption);
    line-height: 1.4 !important;
}

hr {
    width: calc(2.628 * var(--scale-h4));
    margin-left: auto;
    margin-right: auto;
    color: $primary;

    .bg-primary & {
        color: $text;
    }

    .bg-dark & {
        color: $primary-dark;
    }
}

a {
    &,
    &:focus:not(:focus-visible) {
        color: $primary;
    }

    &:hover,
    &:focus-visible,
    &:hover:active {
        color: $accent;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

// TODO: Find a way to remove !important tag
section.bg-primary {
    background-color: $fill-primary !important;
}

.bg-primary {
    background-color: $fill-primary !important;
    color: $text !important;
}

section.bg-dark,
section.bg-secondary {
    color: $text-dark;
}

// section.bg-light {
//     color: $text-f;
// }

.text-faded {
    color: $gray-100;
}

section {
    padding: 119.2px 0;
}

footer {
    padding: map-get($spacers, $key: 8) 0 map-get($spacers, $key: 5);
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation

.navbar {
    --logo-height: 37px;
    --navbar-height: calc(max(3 * var(--scale-p), var(--logo-height) * 1.5));
    height: var(--navbar-height);
    background-color: $white;
    border-style: solid;
    $navbar-border-color: #dfdfe0;
    border-color: $navbar-border-color;
    border-width: 0 0 1px;

    @include serif-font;

    .navbar-logo {
        top: calc((var(--navbar-height) - var(--logo-height)) / 2);
        height: var(--logo-height);
        position: absolute;
        border-radius: 0;
    }

    .logo-white {
        color: $text-dark !important;
        opacity: 0;
    }

    .logo-color {
        color: $text !important;
    }

    .nav-item {
        .nav-link {
            transition: none;
            padding: map-get($spacers, 1) / 2;

            &,
            &:focus:not(:focus-visible) {
                font-weight: 400;
                font-size: var(--scale-p);
                color: $text;
            }
        }
    }

    @include media-breakpoint-up(md) {
        background-color: transparent;
        border-color: transparent;

        .logo-white {
            opacity: 1;
        }

        .logo-color {
            opacity: 0;
        }

        .nav-item .nav-link,
        .nav-item .nav-link:focus:not(:focus-visible) {
            color: $text-dark;

            &,
            &:focus:not(:focus-visible) {
                color: $text-dark;
            }

            &.active {
                color: $primary-dark;
            }

            &:hover,
            &:focus-visible,
            &:hover:active {
                color: $accent-dark;
            }
        }

        &.nav-active {
            // The following two lines help making the border opaque
            -webkit-background-clip: padding-box;
            background-clip: padding-box;

            background-color: $background;
            border-color: $navbar-border-color;

            transition: color .36s ease-in-out, background-color .36s ease-in-out, opacity .36s ease-in-out, border-color .36s ease-in-out;

            will-change: color, background-color, opacity, border-color;

            .logo-white {
                opacity: 0;
            }

            .logo-color {
                opacity: 1;
            }

            .nav-item .nav-link,
            .nav-item .nav-link:focus:not(:focus-visible) {

                &,
                &:focus:not(:focus-visible) {
                    color: $text;
                }

                &.active {
                    color: $primary;
                }

                &:hover,
                &:focus-visible,
                &:hover:active {
                    color: $accent;
                }
            }
        }
    }
}

// Homepage Header

header {
    position: relative;
    min-height: 100vh;
    height: fit-content;
    @include parallax-bg;
    background-position: center;
    background-image:
        linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
        url('../img/partnership.webp');
    text-align: center;
    color: $text-dark;

    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 17px 100px;
        width: 100%;
    }

    @include media-breakpoint-up(md) {
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;

            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;

                p {
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.service-box {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;

    img {
        border-radius: 0;
    }

    .portfolio-box-caption {
        color: $text-dark;
        opacity: 0;
        display: block;
        background: rgba($primary, .9);
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all;

        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            .project-category,
            .project-name {
                @include sans-serif-font;
                padding: 0 17px;
            }

            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                // font-size: 18px; TODO
            }

            .project-name {
                // font-size: 18px; TODO
            }
        }
    }

    &:hover,
    &:focus-visible {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

// Button Styles
@mixin button-variant($color, $background) {
    $btn-padding-vertical: 18px;
    $btn-padding-horizontal: 31px;

    color: $color;
    background-color: $background;
    box-sizing: content-box;
    border: none;
    box-shadow: none !important;
    transition: none;
}

.btn-secondary {
    @include button-variant($text, $white);

    &:focus:not(:focus-visible) {
        color: $text;
        background-color: $white;
    }

    &:hover,
    &:focus-visible,
    &:hover:active {
        color: $text-dark;
        background-color: $dark;
    }
}

.btn-primary {
    // TODO: Find a more robust solution
    @include button-variant($text, $fill-primary);

    &:hover,
    &:focus-visible,
    &:hover:active {
        background-color: $fill-accent;
    }

    &:focus:not(:focus-visible) {
        background-color: $fill-primary;
        color: $text;
    }


    .header-content-inner &,
    .bg-dark & {
        @include button-variant($text, $fill-primary-dark);

        &:hover,
        &:focus-visible,
        &:hover:active {
            background-color: $fill-accent-dark;
        }

        &:focus:not(:focus-visible) {
            background-color: $fill-primary-dark;
        }
    }
}


.btn {
    @include serif-font;
    font-weight: 400;
    font-size: var(--scale-btn);
    vertical-align: middle;
}

.btn-xl {
    padding: 0.96rem 1.54rem;
    border-radius: 0.5rem;
    margin-top: map-get($spacers, 5) - $paragraph-margin-bottom;
    margin-bottom: map-get($spacers, 5);
}

.fa-4x {
    height: calc(2.628 * var(--scale-h4));
    margin-top: map-get($spacers, 3); // Compensate for header's line height
    margin-left: 0.08rem; // Perfectly aligns icons to the text
}

// Extras
// -- Highlight Color Customization
img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}