<!doctype html>
<html itemscope itemtype="https://schema.org/Organization" lang="vi-VN">
  <head>
    <title>{{ site.title }}</title>
    {% include meta.html %} {% include meta-assets.html %}
  </head>
  <body
    data-bs-smooth-scroll="true"
    data-bs-spy="scroll"
    data-bs-target="#muc-luc"
  >
    <div class="visually-hidden active collapsing"></div>
    <nav
      aria-label="Mục lục"
      class="navbar fixed-top navbar-expand-md"
      data-bs-theme="dark"
      dir="ltr"
      id="muc-luc"
    >
      {% include muc-luc.html %}
    </nav>
    <main>
      {% include trang-bia.html %} {% include gioi-thieu.html %} {% include
      cac-loi-ich.html %} {% include cac-du-an.html %} {% include
      chi-tiet-cac-san-pham.html %} {% include danh-gia-cua-khach-hang.html %}
      {% include cau-chuyen-cua-alpha-software.html %} {% include
      ho-tro-khach-hang.html %}
    </main>
    <footer id="ket-noi-voi-alpha-software">
      {% include ket-noi-voi-alpha-software.html %}
    </footer>
    <script defer src="js/bootstrap.min.js"></script>
    <script defer src="js/custom.js"></script>
  </body>
</html>
