<!DOCTYPE html>
<html lang="vi-VN">

{% include meta.html %}

<body id="introduction">
  {% include nav.html %}
  {% include hero.html %}
  {% include features.html %} <!-- #features -->
  {% include benefits.html %} <!-- #benefits -->
  {% include testimonials.html %} <!-- #testimonials -->
  {% include about-us.html %} <!-- #about-us -->
  {% include gallery.html %} <!-- #gallery -->
  {% include call-to-action.html %}
  {% include footer.html %}
  {% include meta_scripts.html %}
</body>

</html>