<!DOCTYPE html>
<html xml:lang="vi-VN" lang="vi-VN">
{% include meta.html %}

<body data-bs-spy="scroll" data-bs-target="#globalnav" data-bs-smooth-scroll="true">
  <div id="globalheader">
    {% include nav.html %}
  </div>
  <main>
    <h1 class="visuallyhidden">{{site.company_name}}</h1>
    {% include hero.html %}
    {% include overview.html %}
    {% include benefits.html %}
    {% include testimonials.html %}
    {% include about-us.html %}
    {% include gallery.html %}
    {% include call-to-action.html %}
  </main>
  <footer id="footer">
    {% include footer.html %}
  </footer>
  {% include meta_scripts.html %}
</body>

</html>